[2017-01-23 11:15] RobWin commented on #238
You are saying that your Gradle set-up works, but Maven not?
Can you show me your POM.xml?

[2017-01-23 11:44] Recongt commented on #238
Exactly.

From POM.xml:
[code]

[2017-01-23 12:06] RobWin commented on #238
I created this minimal Swagger Spec and used it as the source file in https://github.com/Swagger2Markup/swagger2markup-maven-project-template. And it worked as expected.

Swagger Spec:
[code]

security.adoc file content:

[code]

[2017-01-23 12:31] RobWin commented on #238
Thx. I created a test, but I still can't reproduce it.
Swagger2Markup uses `Unknown` when it can't find the security key `basicAuth` in the securityDefinitions. But that's not the case.
[code]
[code]

[2017-01-23 15:01] Recongt commented on #238
I generated .adoc and .pdf using the project: https://github.com/Swagger2Markup/swagger2markup-maven-project-template
I used json file with my project. Here, too .adoc and .pdf is generated correctly.

In my project I wrote again in the configuration file pom.xml modeled on the example above, I added a partially empty files in the extensions / *.
Unfortunately, the effect is the same.

[2017-01-23 15:07] RobWin commented on #238
Can you push your project to Github? Or at least a minimal project which produces your issue?

[2017-01-23 15:16] Recongt commented on #238
At the moment I do not have any other ideas. Unfortunately I can not share the project.

[2017-01-31 21:22] anon18 commented on #233
Hi!  Any progress on this?  I am unable to publish my API document due to this formatting issue.  Everything else works very well!

[2017-02-01 07:53] RobWin commented on #233
Hi,
sry atm I don't have much time to work on this.

[2017-02-01 17:31] timgold opened #239 "swagger-jersey2-jaxrs 1.5.12 isnt supported"
Hi,
I am using swagger2markup version 1.2.0
When switching from swagger-jersey2-jaxrs version 1.5.10 to 1.5.12, i am unable to generate valid adocs of my swagger jsons.

I am receiving an exception similar to this:
Exception in thread "main" java.lang.NoSuchMethodError: io.swagger.models.parameters.AbstractSerializableParameter.getDefaultValue()Ljava/lang/String;

for String, Double, Boolean etc.

[2017-02-01 18:27] RobWin commented on #239
Hi,

If you like and use Swagger2markup, we would love to get your GitHub Star.
This issue is related to #235. You can already try version 1.3.0-SNAPSHOT

[2017-02-14 00:12] ArturGe opened #242 "Polish translation"
Is it possible to provide polish translation for generated output?

[2017-02-14 07:14] RobWin commented on #242
Hi,

you could provide me a polish translation of https://github.com/Swagger2Markup/swagger2markup/blob/master/src/main/resources/io/github/swagger2markup/lang/labels_en.properties and I add it to the list of languages.

If you like Swagger2Markup, we would love to get your GitHub star.

[2017-02-27 17:05] cihati opened #243 "If two paths with the same tag and path address exist, two first one is skipped"
Swagger2Markup version: swagger2markup-gradle-plugin 1.2.0
Problem description:
I realized that my generated markdown document doesn't have a path I recently added to my swagger.yaml. After some debugging, I realized that it's possibly a bug with swagger2markup. When you have two paths with same path address and tag (but different method/summary/description/etc), two first one is overridden. It's

[2017-03-01 16:55] mauricio-morales opened #244 "AllOf + $ref + Array + $ref is somehow skipped"
Swagger2Markup version: 1.3.0 (also happens in 1.2.0)

Problem description: When using the following response setup in my swagger YAML:
[code]
The adoc output simply generates a "No Content" spec:
[code]

This is a full small swagger spec that reproduces the issue:
[code]

[2017-03-01 17:27] RobWin commented on #244
Thx. I try to reproduce it.

[2017-03-02 14:56] mauricio-morales opened #245 "Bad multiline code block in AsciiDoc"
Swagger2Markup version: 1.3.0

Problem description:
When including a multiline code block in a Description (as supported by Markdown) is mistranslated to AsciiDoc.

The Swagger YAML:
[code]

      curl -X GET -H \"Accept: application/json\" -H \"Authorization: Bearer <Your Token Here>\" \"https://my.api.com/Endpoint/00000000-0000-0000-0000-000000000000\"

[code]

But Swagger2Markup tries to conver

[2017-03-02 15:30] RobWin commented on #245
Hi,

Swagger2Markup uses this library to convert Markdown to AsciiDoc: https://github.com/bodiam/markdown-to-asciidoc

It seems the library does not interpret your Markdown as a Code Block.

Maybe there are some Windows, Linux line feed issues?
On which OS did you create the Swagger Spec and on which OS do you invoke the Swagger2Markup CLI?

[2017-03-02 15:32] RobWin commented on #243
Thx. I have a look at it.

[2017-03-02 16:52] mauricio-morales commented on #245
All in Windows 10. If you run with the spec I posted here, is the output different from what I have?

(Attaching my local bad-swagger file in case encoding is a key player)

[bad-swagger.zip](https://github.com/Swagger2Markup/swagger2markup/files/814497/bad-swagger.zip)

[2017-03-02 17:12] RobWin commented on #245
As a workaround. Do you have to use Markdown in your Swagger Spec?
You could also use AsciiDoc directly and change the config property `swagger2markup.swaggerMarkupLanguage` to `ASCIIDOC`.

[2017-03-02 17:22] mauricio-morales commented on #245
Thanks. Well, I'd like my `curl` examples to show code-block like.
I use the same swagger file to host a web site with Swagger -UI (generating this PDF is a temporary measure while our website is ready for public). I'm not sure that Swagger web UI supports `ASCIIDOC` descriptions.

[2017-03-02 17:23] mauricio-morales commented on #245
You just motived me to play around some more, and discovered that an extra line will "fix" the issue:

[code]

      curl -X GET -H \"Accept: application/json\" -H \"Authorization: Bearer <Your Token Here>\" \"https://my.api.com/Endpoint/00000000-0000-0000-0000-000000000000\"

[code]

Now generates
[code]

[2017-03-02 17:45] mauricio-morales commented on #245
So maybe it wasn't so much a bug but rather a mis-formatting on my part on the Markdown inside the Swagger doc.
If you agree, then we can close this issue. I've already added the extra lines to my swagger and I'm able to generate the PDF with no parsing errors.

[2017-03-02 18:10] RobWin commented on #245
Thx for the Information

[2017-03-02 18:10] #245 closed

[2017-03-02 20:55] #239 closed

[2017-03-02 20:55] #232 closed

[2017-03-15 18:48] shardings opened #248 "Add a curl request example."
Add a curl style example for this PathOperationCompoment. LIke most swagger-uis had. For example, the pets/findByTags should have a example like "curl -XGET http://localhost/pets/findByTags?tags=adroable".

[2017-03-20 22:45] mingchen opened #249 ""Table of Contents" is localizable"
**Swagger2Markup version:**
1.3.1

**Problem description:**
When use gradle template project and change language other than english, the left siebar title "Table of Contents" is not translated,  it is not defined in https://github.com/Swagger2Markup/swagger2markup/blob/master/src/main/resources/io/github/swagger2markup/lang/labels_en.properties
should define it here then can be translated ?

[2017-03-22 15:31] RobWin commented on #249
Hi,
the Table of Contents is not part of Swagger2Markup, but generated by Asciidoctor.
Please open an issue in this project: https://github.com/asciidoctor/asciidoctor

[2017-03-22 15:31] #249 closed

[2017-03-23 08:09] manosbatsis commented on #204
Forcing pegdown 1.6.0 using an explicit dependency fixes the problem for maven.

[2017-04-07 05:48] monism commented on #196
I am getting same issue the above text must not be blank

I am passing a json file, any hellp will be aprreciated

[2017-04-07 05:50] monism opened #250 "text must not be null"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
2017-04-07 11:14:44.64

[2017-04-07 06:35] RobWin commented on #250
Hi,

please create an issue in https://github.com/starlightknight/swagger-confluence.
They are using an old version of Swagger2Markup.

[2017-04-07 06:35] #250 closed

[2017-04-21 10:48] kegstyle commented on #162
I'm also waiting this enhancement.
When is applied?

[2017-04-21 10:49] RobWin commented on #162
I won't have time to implement this.
Please provide a PR, if you need this feature urgently.

[2017-05-03 07:10] abhijiths148 opened #252 "title must not be blank"
[code]

Any idea on why this is occuring, i am using dropwizard-swagger https://github.com/smoketurner/dropwizard-swagger

[2017-05-03 07:57] RobWin commented on #252
Which version of swagger2markup do you use?

[2017-05-03 08:02] abhijiths148 commented on #252
compile group: 'io.github.swagger2markup', name: 'swagger2markup', version: '1.1.0'

[2017-05-03 08:10] RobWin commented on #252
Could you update to the latest version? This should be fixed

[2017-05-03 08:53] abhijiths148 commented on #252
hi i tried version 1.3.1 as well but no success

[2017-05-03 10:04] RobWin commented on #252
Can you fill the title of the Swagger Spec?
https://github.com/smoketurner/dropwizard-swagger/blob/master/src/main/java/io/federecio/dropwizard/swagger/SwaggerBundleConfiguration.java#L85

[2017-05-03 10:31] abhijiths148 commented on #252
Thanks,
added title by providing this on my resource class it seemed to work
[code]

[2017-05-03 10:48] #252 closed

[2017-05-05 10:29] davidporter65 commented on #28
This fix does not seem to be enough for `*/*` to be rendered correctly in HTML or PDF using AsciiDoc. If you try this in [AsciiDocLive](https://asciidoclive.com/), you'll see that you need to add an escape character before the starting `*` symbol for it to render correctly.

`\*/*`

I'm not sure if this is classed as a bug in AsciiDoc or if it's still a bug in Swagger2markup

[2017-05-05 10:48] RobWin commented on #28
Hi, do you think you can provide a PR? I won't have much time atm to fix this.

[2017-05-05 10:53] davidporter65 commented on #28
@RobWin Sorry, I'm not a coder, just a doc writer. I don't know how to fix this.

I was just trying to establish whether this was still a bug in Swagger2markup or whether AsciiDoc should render markup inside back-ticks as is.

[2017-05-08 11:05] saqibahmed515 opened #253 "Customize the example output"
## Add customization in the example output:
I have 5 responses in one of my API specs and I just want to show the example output of the response with code 200. I don't want to show examples of all the error responses. I might wanna show the example output of more than one output but not for all the outputs.
Is there any way I can achieve this?

### Swagger2Markup version:
**1.3.1** using **CLI ver

[2017-05-08 11:11] RobWin commented on #253
Hi,

do you define your Swagger Specs by hand or is the Spec automatically generated?
You can add examples into the Swagger Spec directly. See: https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/api-with-examples.json

[2017-05-08 11:20] saqibahmed515 commented on #253
I'm writing swagger specs by hand. I didn't add any examples in any of the responses. I do have schemas for all the responses. For example,

Yaml:
[code]
for this swagger code, with examples enabled in swagger2markup, the output asciidoc is:

[code]

I just want a switch in my properties where I can specify for swagger2markup that where I want examples and where I don't.

[2017-05-08 11:40] RobWin commented on #253
Sry, that's not possible yet.

[2017-05-08 11:42] saqibahmed515 commented on #253
It's ok. Give me some pointer in the code where I can try to tweak it. 😄

[2017-05-08 11:54] RobWin commented on #253
You can use this unit test to test your changes: https://github.com/Swagger2Markup/swagger2markup/blob/master/src/test/java/io/github/swagger2markup/AsciidocConverterTest.java#L305

Example generation starts here: https://github.com/Swagger2Markup/swagger2markup/blob/d2d47cf8eef17261202322782dbae62c2541454b/src/main/java/io/github/swagger2markup/internal/component/PathOperationComponent.java#L358

[2017-05-08 12:26] saqibahmed515 commented on #253
Thank you so much. 👍

[2017-05-15 06:44] RobWin commented on #248
Hi, would you like to create a PR?

[2017-05-15 06:44] RobWin commented on #242
Any progress?

[2017-05-15 10:05] dcp65 opened #254 "*/* not escaped"
Swagger2Markup version: 1.3.1

Problem description:

I am unable to re-open this issue #28, so I'm creating a new one here.

The fix for #28 is not enough for */* to be rendered correctly in HTML or PDF using AsciiDoc. If you try this in AsciiDocLive, you'll see that you need to add an escape character before the starting * symbol for it to render correctly.

\*/*

[2017-05-15 10:31] RobWin commented on #254
Hi,
does a MediaType `*/*` really makes sense for an API?

[2017-05-15 10:37] davidporter65 commented on #254
An interesting philosophical question. Not sure that I'm qualified to answer it, but the wildcard media type is included in the JAX-RS spec, so we're bound to come across when documenting RESTful APIs:

http://docs.oracle.com/javaee/7/api/javax/ws/rs/core/MediaType.html#WILDCARD

[2017-05-15 10:40] RobWin commented on #254
Is your Swagger Spec handcrafted or generated from code?

[2017-05-15 10:40] davidporter65 commented on #254
Generated from code

[2017-05-15 10:41] RobWin commented on #254
Anyway it's a bug in Swagger2Markup, I'm just asking so that you have a workaround ;)

[2017-05-15 11:08] RobWin commented on #254
A new SNAPSHOT version should be available now: `1.3.2-SNAPSHOT`. Do you use Maven/Gradle or CLI?
Can you try the new SNAPSHOT version and tell me if it works for you?

[2017-05-15 11:59] davidporter65 commented on #254
Many thanks. That works.

I use Maven in some projects and Gradle in others.

I wasn't sure how to get your snapshot, so I built from the swagger2markup source and installed it in my local Maven repo using the `publishToMavenLocal` Gradle task.

I'll have to wait for a full release before I can consume it in my project. Any idea when the next release will be?

[2017-05-15 12:01] RobWin commented on #254
How to get SNAPSHOTS is described in the user guide: http://swagger2markup.github.io/swagger2markup/1.3.1/#_snapshot

[2017-05-31 15:57] seprich opened #255 "Parsing response schema "type" field containing array of type definitions causes null pointer exception."
swagger2markup version 1.2.1 through the latest gradle plugin

Problem with parsing:
[code]
then in test-response.json
[code]
When parsing this content the parser fails at the `"type": ["string", "null"]` with NullPointerException. Even though the jsonschema is a valid 0.4 (and 0.6 too) schema. Let me point out that making the field optional by removing it from the required list is a different thi

[2017-05-31 17:16] RobWin commented on #255
Hi,

if you use and like Swagger2markup, I would love to get your GitHub Star.
I assume that it is a swagger-parser issue. Can you show me the füll stacktrace please.

[2017-05-31 18:58] seprich commented on #255
Hi,
Actually my simplified example above will "only" give the following kind of problem:
[code]
The asciidoc is generated but the required +  ["string", "null"] typed field is missing from the documentation.

To reproduce the NullPointerException more complicated schema is needed:
[code]
So the references definition with ["object", "null"]  type was too much (but completely valid, validated with s

[2017-05-31 19:02] RobWin commented on #255
Yes, it's. NullPointerException in the swagger-parser. Could you please open an issue in their project?

[2017-06-01 10:04] seprich commented on #255
Do you know where io.swagger:swagger-compat-spec-parser:1.0.25 sources are hosted?

[2017-06-02 06:21] RobWin commented on #255
Can I close the issue?

[2017-06-02 06:49] #255 closed

[2017-06-02 06:49] RobWin commented on #255
:+1:

[2017-06-22 11:58] dominicfollett opened #256 "Does swagger2markup dynamic update of links?"
## Swagger2Markup version: 1.3.1

## Problem description:

Within an extension like `PathsDocumentExtension`, invoking `apply()` at position `OPERATION_BEFORE`, I would like to be able to ensure any links in this document are resolved either relative to where another document is found or by appending a custom base URL and path to each link.

E.g.
[code]
A link to security in getstore.md should be

[2017-06-26 19:02] explode commented on #180
Could you please look at formData POST params too?
[testjson.txt](https://github.com/Swagger2Markup/swagger2markup/files/1103209/testjson.txt)
The provided case contains two required string form params, two optional string params and one optional boolean param.
The expected request formData output is `reqStr1=string&reqStr2=string` but generated example contains only `true`.
Also it would be good

[2017-06-29 07:03] RobWin commented on #256
Hi, no it's not possible.

[2017-07-06 13:01] jimmiebtlr opened #257 "NoClassDefFound in docker image"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:
https://hub.docker.com/r/swagger2markup/swag

[2017-07-06 15:22] alkemann opened #258 "separatedDefinitionsEnabled feature is broken or useless"
If I enable the *separatedDefinitionsEnabled* feature I do get my definition objects created in individual files, but it still creates the "parent" page, which becomes just a list of H3 tags which anchor links to itself, when they obviously should link to individual files where the content is actually found.

Alternatively, who can I disable the generation of the definitions document, which is kin

[2017-07-06 15:25] alkemann opened #259 "Security Schema does not include description"
The Swagger spec includes a description key, the schema for the security document in Swagger2Markup also has the key, but even if included in the provided swagger document, it is not included in the rendered output. I have made a Security Document Extension and verified that the description key is null, so I assume the problem is with the parser and not the output generation.

Swagger2Markup versi

[2017-07-07 07:53] alkemann opened #260 "Generated example response qoute is formatted badly"
If asked to generated markdown with json example code, it creates this:

instead of this

Swagger2Markup version: 1.3.1

[2017-07-10 10:33] RobWin commented on #259
Thx. Would you like to create an issue in the swagger-parser project.

[2017-07-10 10:35] RobWin commented on #258
Hi,
true its pointless. Would you like to contribute a fix? I'm in vacation and afterwards busy at work. But I could merge a PR an create a new release.

[2017-07-10 11:54] alkemann commented on #259
@RobWin I do not know how this project uses that project or how to tell them that the problem even exists in that place. I have tried to checkout the code and see if I can fix this myself, but I can't really figure out how the pieces fit together (I am not a java developer).

https://github.com/swagger-api/swagger-parser/issues/480  maybe you can add some specific information?

[2017-07-10 11:57] alkemann commented on #258
Yes I have the code running locally in Intellj but I cant figure out how to fix this. If you could give me some pointer in the right direction that would be great.

This isnt the only case of these broken links either. As far as I can see the default behavior is that the paths links to definitions also just link to an anchor in the same document.

[2017-07-10 12:06] RobWin commented on #258
There is a swagger2markup configuration parameter which enables inter-document cross references.

[2017-07-10 12:08] RobWin commented on #258
swagger2markup.interDocumentCrossReferencesEnabled

[2017-07-10 12:09] alkemann commented on #258
I pressume you mean this: swagger2markup.interDocumentCrossReferencesEnabled

Why is this a config and how does it make sense to have it as false by default?

[2017-07-10 12:19] alkemann commented on #258
Yes this did fix my issues. I would argue that the default setting for this option should be reversed, or even just removed at all as why someone wouldnt want their anchors to work I dont quite understand.

[2017-07-10 12:22] alkemann commented on #258
Is there a way to just drop the list file when enabling the separeted<x>enabled then becomes the remaining issue.

[2017-07-10 12:27] RobWin commented on #258
Yes, you are right. I have to check the code again. I can't remember why it's false by default. It's some time ago since I programmed it.

[2017-07-10 12:29] alkemann commented on #258
I can always just delete them after generation I guess.

So, of lower priority, this issue becomes a suggestion to reverse the default and to add a feature of optionally dropping the main documents, security, paths, definitions and/or overview

[2017-07-10 12:30] RobWin commented on #258
Currently there is no way to skip the generation of the definitions file.

[2017-07-10 14:53] alkemann commented on #260
I have found out that the problem is a bit hard to fix. In `delimitedBlockText` the newline is always added after ``` which I cant find a good way to make it only do if the block is a type with a language hint. Because where this is called we dont really have the information of if language typehing is included. Ideas?

[2017-07-10 14:55] alkemann commented on #260
I release now that this issue is on the wrong project also. I didnt know it was this split up. Here is link to relevant code: https://github.com/Swagger2Markup/markup-document-builder/blob/master/src/main/java/io/github/swagger2markup/markup/builder/internal/markdown/MarkdownBuilder.java#L125

[2017-07-10 14:55] alkemann commented on #258
most of these cross document links seems to work now, but the one that is still off is the link to security document from paths endpoints.

[2017-07-11 07:48] brischniz opened #262 "ExternalDocs section is not converted"
Swagger2Markup version: 1.3.1

Problem description:
The section _externalDocs_ will not be included in the result document

[code]

[2017-07-12 09:57] mihbor opened #264 "query parameter incorrectly shown as json in request example"
Using v1.3.1

Given parameters are defined as query parameters in the swagger, the generated example request should show them as query parameters.

Currently the generated example suggest they are passed in as json, e.g.:
[code]
Since these are defined as query parameters, the example request should show them as such, e.g.:

[code]

[2017-07-14 08:01] alkemann opened #266 "Query params generates both table and json blob in markdown"
Swagger2Markup version: 1.3.1

Given this spec:
[code]

You get query params twice:

![screen shot 2017-07-14 at 09 53 32](https://user-images.githubusercontent.com/48854/28203602-ba4d8d1c-687a-11e7-83d7-b3db5d75ce9c.png)

Here is generated markdown:

[code]

[2017-07-14 08:02] alkemann commented on #264
Similar issue to https://github.com/Swagger2Markup/swagger2markup/issues/266 ?

[2017-07-14 08:44] mihbor commented on #266
I don't think the problem is that you get them twice. The first occurrence is the definition and is fine. The second concurrence is a usage example. So that should be there too but as reported in issue #264 the problem with the example is that the format is json instead of having the query parameters in the request string.

[2017-07-14 08:44] mihbor commented on #264
Yup, they're the same issue I think.

[2017-07-14 09:06] alkemann commented on #266
Them being optional and in some cases quite numerous, I am not sure I would want them all to always be added to the request path. Specially since there does not seem to be any way to set example values.. just 0s and 'string'

[2017-07-14 09:14] RobWin commented on #266
You could set example values in your Swagger Spec.

[2017-07-14 09:17] alkemann commented on #266
Oh. Someone on my team tried and said query params doesnt support it. I will try again.

[2017-07-14 09:20] RobWin commented on #266
The generated examples feature is still somehow incubating. I'm generating examples by using a different tool and include them. For example Spring RestDocs

[2017-07-14 09:22] RobWin commented on #266
Indeed you can't specify examples for query parameters.

[2017-07-15 16:54] ethack commented on #257
I'm getting the same error.  Seems to be related to [this issue](https://github.com/Swagger2Markup/swagger2markup-cli/issues/15)?

[2017-07-18 08:46] RobWin commented on #257
Hi @ethack @jimmiebtlr
Sry that it took some time. I've been on vacation.
I published v1.3.2.
Could you please try if the new image works for you?

[2017-07-18 08:46] RobWin commented on #257
It works for me
[code]

[2017-07-18 17:16] ethack commented on #257
That worked, thank you!

[2017-07-18 19:30] #257 closed

[2017-07-20 07:20] RobWin commented on #257
@jimmiebtlr For you as well?

[2017-07-20 14:08] RobWin commented on #262
Merged

[2017-07-20 14:16] cascer1 commented on #264
Instead of this JSON string (which is obviously wrong), would you prefer to see a table of possible query parameters, or an example URL with the query parameters in them?

[2017-07-20 14:20] RobWin commented on #264
Btw when you use and like Swagger2Markup, we would love to get your GitHub stars :tada:

[2017-07-20 14:41] mihbor commented on #264
I think a table would be more readable but a URL is more useful as that can be copy pasted into the browser, curl etc. So overall, I'd prefer the URL.

[2017-07-24 07:58] cascer1 commented on #264
I have created the following expected result, based on the example in issue #266 :

https://github.com/Swagger2Markup/swagger2markup/blob/issue/264/src/test/resources/expected/asciidoc/query_params/paths.adoc

[2017-07-24 08:12] alkemann commented on #264
Nice. And the spec limits us from getting the ability to set example values right?

[2017-07-24 08:16] RobWin commented on #264
@cascer1 Thx. Do we still need the table which shows Request Query parameters?
We should only add required query parameters to the URL and skip optional parameters.

[2017-07-24 08:23] cascer1 commented on #264
@alkemann I do think that you can't explicitly define query parameter examples.

@RobWin I guess we can get rid of the table, since it's already in the operation description.

[2017-07-24 08:34] RobWin commented on #264
Yes, then let's get rid of the table.

[2017-07-24 09:26] alkemann commented on #264
Personally I would prefer the table. Can we make it an option?

[2017-07-27 07:09] RobWin opened #267 "Update Swagger-Parser to the latest version"

[2017-07-27 07:09] RobWin opened #268 "Support Swagger Spec 3.0"

[2017-07-29 15:43] pratapyelugula opened #269 "Swagger2 difinition gives error."
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version: swagger: '2.0'

Problem description:

I have

[2017-07-31 06:57] RobWin commented on #269
You can validate your Swagger Spec in http://editor.swagger.io/.
The Spec is not valid. There are many errors.
I can't help you to fix them.

[2017-07-31 17:44] pratapyelugula commented on #269
Hi Rob,

I have generated swagger definition using spring fox.I am not getting any errors/issues with the code part.But swagger definition giving the issues.Can any one help me in this Swagger definition.''

Thanks,
pratap.

[2017-08-01 06:35] RobWin commented on #269
You have to open an issue in https://github.com/springfox/springfox.

[2017-08-07 15:57] Eragra3 opened #270 "Cannot remove 'enums' section using SwaggerModelExtension"
Hi,

I want to remove enums from one of my operation parameters and display that as a regular string. I created new SwaggerModelExtension, but
I don't see any method allowing me to get my hands on those enums. Is there a way to do it? If not it would be nice to have that.

Below is an example of a parameter I'd like to modify
[code]
I want to remove enum property completely, so it's displayed as a

[2017-08-08 06:04] RobWin commented on #270
Hi,
could you please provide an example? I don't think that I understand what you want to achieve.

[2017-08-08 07:19] Eragra3 commented on #270
Hi,

sorry for lack of details, I updated question so it's more clear to future readers.

[2017-08-08 07:30] RobWin commented on #270
You can remove the Enum, but you have to cast the parameter into the correct type.
[code]

[2017-08-08 08:21] Eragra3 commented on #270
Hi again,

that's perfect, thank you for help!
I ended up using more general interface _SerializableParameter_ to support query params as well.

Thanks
Daniel

[2017-08-08 08:23] #270 closed

[2017-08-08 08:25] RobWin commented on #270
:+1:

[2017-08-08 10:50] RobWin commented on #270
@Eragra3 If you like Swagger2Markup, we would love to get your GitHub star :)

[2017-08-08 10:52] Eragra3 commented on #270
Like, favorite and subscribe? :)
Left a star for help ⭐️

[2017-08-11 07:59] sowjanyavaka opened #271 "Embedding sample request and response json in the generated PDF"
Hi Rob,
Firstly, thank you very much for coming up with the swagger2markup. Life has never been so easy. The PDF generation is the top priority for my client and I was able to generate one in 15 mins using the swagger2markup.
The only feedback is that, it would be perfect if a sample request and response structure can be added for each path. Since, now if there is a complex json payload, it takes

[2017-08-11 08:56] RobWin commented on #271
Hello,

Swagger2Markup can generate example requests/responses. But the feature is still incubating.
The config parameter is: `swagger2markup.generatedExamplesEnabled=true`.

But I would suggest that you should develop real-life tests for you API and that you record and save the HTTP requests and responses. The advantage is that the data in your examples makes more sense than generated dummy data.

[2017-08-11 12:44] Eragra3 opened #272 "Generating unique anchors for paths with the same operationId"
Hi

we are using Swashbuckle in our application, which generates swagger from C# code. It generates multiple swagger endpoints for the same action if action is bound to multiple routes. That leads to duplicated operationIds.

But for now, can we using some configuration or extension processors on swagger2markup to generate unique anchors for each endpoint? This is just to make table of content wor

[2017-08-11 15:45] sowjanyavaka commented on #271
Thanks for the quick reply Rob. I will check the above links.

[2017-08-11 22:50] angsdey2 opened #273 "Getting java.lang.NoSuchFieldError: MULTIPLE_OF while creating Asscidocs"
I am converting a swagger json to asciidoc to covert it to html, by the below way

pom.xml
----------
`<dependency>
        <groupId>io.github.swagger2markup</groupId>
        <artifactId>swagger2markup</artifactId>
        <version>1.3.1</version>
</dependency>`

Conversion
------------
`String contents = new String(Files.readAllBytes(Paths.get("C://temp_json.json")));
Path path = Paths.get("C://

[2017-08-15 06:24] RobWin commented on #273
Hi,
This seems to be an an issue of the swagger-parser and not Swagger2Markup.
But I can't help you without a possibility to reproduce the issue.

[2017-08-16 13:59] dcp65 opened #274 "Swagger2markup does not display response headers elegantly"
Support for response headers was added to Swagger2markup as part of the solution to issue #60.

However, how they are rendered bears no resemblance to the screenshot attached to that issue.

Here is a snippet from my swagger.json:

[code]
Here is the resulting AsciiDoc:

[code]
Here is the rendered HTML:

![response_headers](https://user-images.githubusercontent.com/6068269/29367016-75e57bca-8293-

[2017-08-18 11:59] ottlngr commented on #233
@RobWin Could you share a judgement on how to work around this behaviour or on where this behaviour could be fixed? With some additional information I could dig a bit deeper into this issue.

[2017-08-18 12:57] RobWin commented on #233
@ottlngr I still won't have time to fix it. Too busy at the moment. But I can review a PR and merge it, if you have time to handle this issue.

The size of the column is defined here: https://github.com/Swagger2Markup/swagger2markup/blob/master/src/main/java/io/github/swagger2markup/internal/component/ParameterTableComponent.java#L77

[2017-08-23 07:10] tigerMoon opened #275 "Markdown interDocumentCrossReferencesPrefix not usable"
Swagger2Markup version: 1.3.1
Spring Boot: 1.4.7

Problem description:
i use Swagger2Markup to generate separate markdown doc, I just want to serve each .md file as static resource.

my config:

[code]

generate doc:

[code]

**the prefix is incorrect.**

[2017-08-25 07:58] neuneuraxis opened #276 "Unable to load RELATIVE ref: ./parameters.yaml"
I'm starting with gradle plugin swagger2markup version 13.1.

I have this directory structure:
[code]
The _main.yml_ references _paths.yaml_ and _paths.yaml_ references _parameters.yaml_.
When I launch the task `convertSwagger2markup --stacktrace`, I have this error:
[code]

[2017-08-25 07:59] RobWin commented on #276
Hi, please open an issue in https://github.com/swagger-api/swagger-parser
It's not an issue of Swagger2Markup itself.

[2017-08-25 07:59] #276 closed

[2017-09-04 09:02] alkemann commented on #266
@RobWin any updates here? Could we possibly get the

fixed to

?

[2017-09-04 09:08] RobWin commented on #274
Yes, I think we refactored the first solution and this is the final solution. It saves space.

[2017-09-04 09:08] RobWin commented on #271
Can I close the issue?

[2017-09-04 09:08] #269 closed

[2017-09-04 09:09] RobWin commented on #266
I think  @cascer1 started working on it, but I don't know when he has time to finish it.

[2017-09-04 09:10] RobWin commented on #275
Hi,
would you like to create a PR to fix it?
I won't have time to work on it.

[2017-09-04 09:12] RobWin commented on #272
Hi,
did you find a solution for your problem? Did Swashbuckle fix the generation of operationIds?

[2017-09-04 09:13] #273 closed

[2017-09-04 09:13] RobWin commented on #253
Can I close the issue?

[2017-09-04 09:51] alkemann commented on #266
@cascer1 anything I can do to help. btw I think the way code samples get their language on the new line should be a lot quicker and independent fix, can we get that done first maybe?

[2017-09-04 10:30] tigerMoon commented on #275
ok, i`ll have a try.

[2017-09-04 13:41] alkemann commented on #266
@cascer1 I have made an effort to fix this myself, but I am not well versed in java and the architecture of this project confuse me. I have "almost" solved it. Here is a patch of where I am at the moment: https://gist.github.com/alkemann/e160861f9a5384c7f0ec7e771da2a0f3

[2017-09-05 06:43] RobWin commented on #266
Could you please fork the project and provide a PR?
We can review your changes better and add comments.

[2017-09-05 07:25] alkemann commented on #266
@RobWin https://github.com/Swagger2Markup/markup-document-builder/pull/26

[2017-09-05 08:32] RobWin commented on #275
:+1:

[2017-09-05 14:05] IAmWebSA opened #277 "Patterned Objects not included in output"
Swagger2Markup version: 1.3.1-cli

Problem description:

I am using Patterned Objects (see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#infoObject)
x-custom-tag:
  - name: Additional Info
  - description: 'Some Stuff'

But the tool does not include it in the output file, only the standard tags are included.

How can this custom tags also be inlcuded?

[2017-09-06 05:08] saqibahmed515 commented on #253
Yeah sure. Close it. I couldn't find time to work on it.

[2017-09-06 05:14] #253 closed

[2017-09-06 06:27] RobWin commented on #277
Hi,

Swagger2Markup has an extension SPI which you can use to add your own content. See: http://swagger2markup.github.io/swagger2markup/1.3.1/#_extension_spi

Patterned Objects cannot be added by default, because the type could be anything.

[2017-09-13 07:37] mayurchoubey opened #278 "Failed to execute goal 'convertSwagger2markup' : text must not be blank"
Swagger2Markup version: Tried with 1.3.1(latest), 1.0.1 both

Problem description:
Actually, I am using swagger maven plugin to create swagger.json of my SpringMVC Rest APIs and then using swagger2makup to convert swagger.json to asciidoc etc.

Swagger maven plugin is able to generate swagger.json/yaml files but Swagger2Markup plugin is throwing "Failed to execute goal : text must not be blank" er

[2017-09-15 07:08] RobWin commented on #278
Hi,
could you please show me your stacktrace?

[2017-09-15 07:53] RobWin commented on #278
I think your parameter names must not be empty.

[2017-09-15 10:25] mayurchoubey commented on #278
[debug.zip](https://github.com/Swagger2Markup/swagger2markup/files/1306036/debug.zip)
PFA the stacktrace of mvn install.
Here I have included both the cases success(petstore sample) and failure(my swagger json).

Is there any documentation available to know mandatory fields etc. ?

[2017-09-15 10:46] RobWin commented on #278
See the Specification: https://swagger.io/specification/#parameterObject
![image](https://user-images.githubusercontent.com/5815046/30479078-e2aaf522-9a13-11e7-883d-7dc17002cde1.png)

[2017-09-15 10:48] RobWin commented on #278
Just one more informatione. You can see the full stack trace of  errors, if you run Maven with the -e switch.

[2017-09-18 09:58] mayurchoubey commented on #278
Thanks... Parameter name was the missing link here...

[2017-09-18 10:36] #278 closed

[2017-09-18 10:51] mayurchoubey opened #279 "Join multiple swagger json files and create one pdf/html5 static site"
Swagger2Markup version: latest

Problem description:

I have multiple sub modules of maven in my product. There would be multiple sub modules exposing the rest apis. My requirement is to auto generate product documentation using swagger, swagger2markup and asciidoctor maven plugin. But could see swaggerInput tag can only take one file at a time.

Confused how could I merge these multiple swagger j

[2017-09-19 07:20] RobWin commented on #279
Hi,
do you want to generate an AsciiDoc documentation per sub module and merge them into one AsciiDoc documentation which documents several REST APIs?
You could create an `index.adoc` in the root project which includes all sub-module AsciiDoc files.

[2017-09-29 19:01] atomfrede commented on #162
@RobWin Would like to fix this low hanging fruit during hacktoberfest. I would add the `a` specifier in the `TableComponent` such that every table may contain `.adoc` content. Is that okay for you?

[2017-09-29 19:11] RobWin commented on #162
Yes sure. That would be awesome. I guess this must be fixed in the markup-document-builder

[2017-10-02 16:53] cascer1 commented on #264
@alkemann Sorry for the late reply (more than 2 months ;-;), I guess it could be added as configuration variable.

[2017-10-02 16:56] cascer1 commented on #266
@alkemann Whoops, I had basically no time these past few months 😮

I'll have a look at the changes very soon!

[2017-10-03 07:33] alkemann commented on #264
Welcome back @cascer1  :)

[2017-10-05 17:40] #162 closed

[2017-10-09 08:50] alkemann commented on #260
@RobWin imho this is a bug, not "enhancement". Where does the "\n<type>:\n" concept come from?

[2017-10-09 08:52] alkemann commented on #266
@cascer1 any progress? did the PR help?

[2017-10-09 08:53] #259 closed

[2017-10-09 13:27] alkemann opened #282 "Example values of nested objects are rendered as JSON with escaped <br> in them"
Consider a swagger that includes this on the a resource definition:

[code]

The markdown that is generated looks like this:

[code]

And this markdown gets converted into this HTML:

[code]

Obviously the `&lt;br&gt;` in the JSON blobs are not desired.

[2017-10-09 14:54] cascer1 commented on #266
@alkemann Your PR did help me in getting on the way of resolving that issue. I Added the `skipLeadingNewline` argument to all `block` methods so it only gets skipped when a language is present

[2017-10-10 07:50] aman-dalal opened #283 "Getting Error after adding json file to the swagger folder."
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
I just simply added my

[2017-10-10 09:55] voz opened #284 "Page breaks translated into &lt;&lt;&lt;"
Swagger2Markup version: 1.3.1

Problem description:

Page breaks `<<<` in extensions get translated into `&lt;&lt;&lt;`.

In my case, I have an extension `document-after-last-pages.adoc` and I would like to break the content into two pages so I put `<<<` in the middle of the file. As result, in the generated `definitions.adoc` I see `&lt;&lt;&lt;` that doesn't make the page break. Not sure if it's

[2017-10-10 13:19] RobWin commented on #283
It seems that parameter names are missing which are mandatory.

[2017-10-11 10:56] aman-dalal commented on #283
what kind of parameters?
Also i would like to know whether i can change the titles shown in the pdf. Like i want apis in place of paths and error codes in place of definitions. How can i do it?

[2017-10-11 11:54] RobWin commented on #283
Swagger Parameters -> https://swagger.io/docs/specification/2-0/describing-parameters/
Which title? The title of the document?

[2017-10-12 05:33] aman-dalal commented on #283
No not the title of the document but the title of the chapters within. For
example the chapter with api paths is named paths i want to name it apis.
On 11 Oct 2017 5:24 pm, "Robert Winkler" <notifications@github.com> wrote:

[2017-10-12 06:48] RobWin commented on #284
Thx for raising the issue. I won't have time to have a look at it atm.
Do you think that you could create a PR?

[2017-10-12 06:51] RobWin commented on #283
No sry. You can't change the title names of chapters. There is a language property file, but it can't be overwritten.
You can groups your paths with tags. See -> https://swagger.io/docs/specification/2-0/grouping-operations-with-tags/
You can then configure `swagger2markup.pathsGroupedBy=TAGS`.
It looks as follows: http://swagger2markup.github.io/spring-swagger2markup-demo/1.1.0/#_paths
`Paths` is

[2017-10-12 06:52] #279 closed

[2017-10-12 06:52] #277 closed

[2017-10-12 06:52] #272 closed

[2017-10-12 09:51] Eragra3 commented on #272
I added new processor to Swagger2Markup which is generating unique operation ids based on current operation id and serialized list of arguments (parameters).

Swashbuckle is still generating same operation ids if you annotate actions with multiple **VersionedRoute**. Just pointing that out if somebody has that issue as well.
I think one could also add **IOperationFilter** (if I recall name correct

[2017-10-12 10:30] RobWin commented on #272
Would you like to create a PR for that functionality?

[2017-10-12 10:53] Eragra3 commented on #272
Absolutely! Though I am heavy on time currently, I won't be able to fix it quickly.
If nobody does that in the near future, expect me to create PR.

[2017-10-17 08:35] Dichotomia opened #286 "Any support for minItems ?"
Is there any support planned for minItems attribute?

[2017-10-17 08:36] RobWin commented on #286
No not yet. But feel free to create a PR.

[2017-10-17 08:41] Dichotomia commented on #286
I have no time for the moment to work on it. Maybe later.

Now, i know it is not supported.

Thank you for the answer.

[2017-10-26 14:32] vleboulanger opened #287 "org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':convertSwagger2markup'."
Swagger2Markup version: 1.3.1

Problem description:
Hello,

I have installed this plugin, and I wanted launch generated document in my Jhipster project.

In my project folder, I launched : ./gradlew asciidoc

But The response is :

`
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':convertSwagger2markup'.
        at org.gradle.api.internal.tasks.execution.Ex

[2017-11-04 22:57] kaos opened #288 "NullPointerException when using $ref in schema"
Version: 1.3.1

Minified spec to reproduce issue:

[code]

related to #213

[2017-11-08 22:25] soyoeml commented on #287
+1

[2017-11-09 07:24] RobWin commented on #287
Hi, can you please give me more context?
How does your build script look like? How do you build your Swagger Spec?

[2017-11-09 08:26] vleboulanger commented on #287
I open this other issue  : https://github.com/atomfrede/generator-jhipster-swagger2markup/issues/24

[2017-11-09 08:29] RobWin commented on #287
Please provide more context in both issues.
Did you modify the build script?

[2017-11-10 04:08] gludington opened #289 "java.lang.NoSuchMethodError in ParameterUtils"
Swagger2Markup version: 1.3.1

Problem description:
When attempting to run a generation test case:
`
   @Test
    public void convertSwaggerToAsciiDoc() throws Exception {
        this.mockMvc.perform(get("/v2/api-docs?group=full-api")
                .accept(MediaType.APPLICATION_JSON))
                .andDo(Swagger2MarkupResultHandler
                        .outputDirectory("src/docs/asciidoc/

[2017-11-10 05:19] gludington commented on #289
Update: after catching up with the changes around the projects, and getting around the version.  This bit of code replicates the pre-2.7.0 MockMvc test approach for springfox-swagger2 2.7.0, and swagger2markup- 1.3.1.  Placing here in case is it of any use to people.

`
    @Test
    public void convertSwaggerToAsciiDoc() throws Exception {

        Path outputDirectory = Paths.get("build/asciidoc

[2017-11-10 05:19] #289 closed

[2017-11-10 06:00] atomfrede commented on #287
@RobWin It is not swagger2markup issue. So you can close this issue. Misconfiguration (plugin not update to new jhipster version), such that the yaml file was not generated during tests.

[2017-11-10 08:23] #287 closed

[2017-11-16 09:11] aarangoh opened #291 "No schema titles in definitions.adoc"
Swagger2Markup version: 1.3.1

Problem description:

Hello,

When I generate the .adoc files, the definitions dont include the title of schemas.

My JSON:

[code]

Or YAML:

[code]

And my definitions.adoc:

[code]

Thanks in advanced.

[2017-11-17 07:55] RobWin commented on #287
Thx for analysing

[2017-11-17 07:57] RobWin commented on #291
Correct. At the moment, we use the definition name as the title. See https://github.com/Swagger2Markup/swagger2markup/blob/master/src/main/java/io/github/swagger2markup/internal/component/DefinitionComponent.java#L74

Would you like to create a PR which checks first if the title is set?

[2017-11-17 08:06] aarangoh commented on #291
In the reference documentation, say that Swagger2Markup can display schema title instead of name:

[http://swagger2markup.github.io/swagger2markup/1.3.1/#_swagger_schema_title](url)

Is not the same?

[2017-11-17 08:20] RobWin commented on #291
Unfortunately this only works for inline definitions.

[2017-11-17 09:01] aarangoh commented on #291
OK :( I look forward to a new version with this feature and include the examples in paths.adoc

Thanks for all.

[2017-11-20 07:46] aarangoh commented on #291
Hello again,

How I can create a PR that include these changes?

[2017-11-20 07:52] RobWin commented on #291
Hi

Please see
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

or

https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2017-11-23 08:58] zionster opened #292 "io.github.swagger2markup.markup package not fond"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:

[2017-11-23 11:48] #292 closed

[2017-11-29 14:17] shreyas-agnihotri commented on #268
Is this planned? Anyone already working on this?

[2017-11-29 14:25] RobWin commented on #268
No, it's not planned. We need contributions :)

[2017-12-11 08:24] RobWin commented on #288
Hi, sry for the late reply.
The NPE is thrown in the swagger-parser library. Please open a bug here: https://github.com/swagger-api/swagger-parser

[2017-12-11 08:24] #288 closed

[2017-12-11 08:31] #283 closed

[2017-12-17 20:55] atomfrede commented on #268
Can it be a breaking change? Like swagger2markup 2.0.0 supporting **only** Swagger 3.0 specs?

[2017-12-17 20:59] RobWin commented on #268
Sure. We can release a new Major Version.

[2017-12-19 13:18] dcp65 commented on #254
@RobWin This is fixed now, right? Should the issue be closed?

[2017-12-19 15:08] RobWin commented on #254
Don't remember 😐 Does it work? 😀

[2017-12-19 15:16] dcp65 commented on #254
I was waiting for the 1.3.2 release of the Gradle plugin.

[2017-12-19 15:33] RobWin commented on #254
I had some problems with bintray while releasing. You can already use the new S2M 1.3.2 with the last gradle plugin. You can just overwrite the transitive dependency.

[2017-12-19 15:35] RobWin commented on #254
See buildscript section in https://github.com/Swagger2Markup/swagger2markup-gradle-project-template/blob/master/build.gradle

[2017-12-19 15:52] dcp65 commented on #254
Great. That works. So this can be closed. Thanks

[2017-12-19 15:59] #254 closed

[2017-12-19 15:59] RobWin commented on #254
Awesome. Thx

[2017-12-21 17:07] rlauriston opened #295 "installation question"
Swagger2Markup version: to be determined

Problem description:
I'm a tech writer documenting some APIs written in Swagger YAML.
swagger2markup is distributed as a .jar file. The docs say to add the library to my project's classpath.
http://swagger2markup.github.io/swagger2markup/1.3.1/#_getting_started
I find no classpath setting or .jar files in the Swagger projects, nor is there a classpath envi

[2018-01-11 21:42] kidnme opened #296 "Vendor extension for example parameter value"
I noticed that when generating an example request, path parameters are filled with a selected value based on their type.  So, for an integer, its 0, for strings, its 'string', and so forth.  Seems like it would be useful to have a vendor extension, say x-sw2mk-example, that allowed you to specify the example parameter value that would be displayed.  It'd be relatively trivial to add (simply look f

[2018-01-18 10:23] #295 closed

[2018-01-18 17:45] rlauriston commented on #295
@RobWin you closed this issue but looking at the docs I still don't know what to do. I asked about this on stackoverflow.com and got no answer there, either.
https://stackoverflow.com/questions/47912788/what-is-how-do-you-set-the-classpath-for-swagger2markup

[2018-01-18 17:48] RobWin commented on #295
Hi, what do you mean by Swagger projects? Do you have experience in using Java? What do you want to do? You don't need npm for Swagger2Markup.

[2018-01-18 18:24] rlauriston commented on #295
@RobWin I'm just quoting your doc:

I'm not writing the API, just documenting it. All I did on my system was install Node.js, clone the Swagger repos, and run npm install. Then I can do npm start to use swagger-editor and swagger-ui. Do I need to install some more things to use swagger2markup?

[2018-01-18 18:40] RobWin commented on #295
Swagger2Markup is a Java project. You can't install and it using JavaScript tools easily.
You can either download the Swagger2Markup docker image and convert your Swagger Spec or the CLI jar file and run it via a terminal. But you need to install Java in order to use the CLI. Please read the user guide for CLI or the docker image.

[2018-01-18 19:35] rlauriston commented on #295
Thanks, swagger2markup-cli version is working fine for me.

[2018-01-18 20:45] RobWin commented on #295
Awesome. We would love to get your GitHub star.

[2018-01-22 15:49] akhileshtripa opened #297 "Issue in running on Springboot"
Swagger2Markup version:

Problem description: I am trying to setup a desk to demonstrate markdown documentation of my Swagger documents. But not sure how to run the app. Can you please help me with step by step idea on running this app.

[2018-01-22 15:54] RobWin commented on #297
Hi, did you have a look at https://github.com/Swagger2Markup/spring-swagger2markup-demo

[2018-01-24 01:18] wyyang commented on #260
I agree with @alkemann that this is a bug. This pretty much generated a broken markdown text that's not compliant with any Markdown editors/parsers out there.

[2018-01-24 05:29] akhileshtripa commented on #297
Thanks @RobWin, I tried to run the demo and able to run it.
However, I want your help in generating markdown & ascii docs by importing a swagger file(yaml or json). The typical use case is that we are the part of api gateway team wherein we write swagger contract and those swagger contracts are being documented by the content writers for getting used by SoR ( System of Records) and BEs.

[2018-01-24 05:43] RobWin commented on #297
There are two template projects which you can use to convert a Swagger Spec into asciidoc or markdown. One for maven and one for gradle. You could also use the CLI or docker image. Did you read the user guide?

[2018-01-24 07:36] RobWin commented on #260
Hi,
is this fixed in Swagger2Markup v1.3.2?

[2018-01-24 07:39] RobWin commented on #260
As far as I remember, we have fixed this, but I forgot to close the issue.
Should have been fixed in this PR: https://github.com/Swagger2Markup/markup-document-builder/pull/28

[2018-01-25 18:09] kidnme opened #298 "Referenced example values become double quoted strings"
Swagger2Markup version:

1.3.1 (via the 1.3.3 swagger2markup maven plugin)

Problem description:

Example values for references of references have the correct _value_, but they always become double quoted strings regardless of their type.

So, given the following yaml:
[code]

The resulting ascii doc is:

[code]

instead of the expected:

[code]

[2018-01-29 07:26] RobWin commented on #298
Thx for opening an issue.
Atm I don't have much time to maintain the project. But I would be happy for review a PR and merge it.

[2018-01-29 07:26] RobWin commented on #297
Can I close the issue?

[2018-01-29 07:27] RobWin commented on #291
Any progress? :)

[2018-01-29 08:48] akhileshtripa commented on #297
Thanks @RobWin. Please close

[2018-01-29 08:48] #297 closed

[2018-01-30 19:15] panin29 opened #299 "How Do I Fix "Property Must Not be Null" Exception?"
Swagger2Markup version: 1.3.2

Problem description:  I am a technical writer, not a developer. I asked a developer to set up swagger2markup for me. He did, and it worked perfectly with the example file you provide.

Then we tried a real-life example: a large Swagger Web API JSON.  It failed with the error shown below. Can you give us an idea of what this message means? The JSON is valid and workin

[2018-02-05 15:36] kidnme commented on #298
Issue [#448](https://github.com/swagger-api/swagger-parser/issues/448) in the swagger-parser is the root cause and will be fixed with pull request [#449](https://github.com/swagger-api/swagger-parser/pull/449) (tested on a local branch).

[2018-02-05 16:26] RobWin commented on #298
Awesome. The for the information

[2018-02-11 10:00] shubifeng opened #300 "ch.netzwerg:paleo-core:0.10.2 and nl.jworks.markdown_to_asciidoc:markdown_to_asciidoc:1.0 not foud"
Swagger2Markup version: 1.3

Problem description: maven install, no found class

![default](https://user-images.githubusercontent.com/6796352/36072124-4e8a3b5c-0f55-11e8-88d0-a90ccaa201d3.png)

[2018-02-12 07:11] RobWin commented on #300
Some of the dependencies are not available in Maven Central.
Did you add JCenter as described in the user guide? http://swagger2markup.github.io/swagger2markup/1.3.1/#_release_2

[2018-02-23 02:36] shubifeng commented on #300
@RobWin the must be define setting mirror for maven conf.   why not move the jar to maven central?

[2018-02-23 02:49] shubifeng opened #301 "Makdown anchors invalid"
default by name， invalid：
`<a name="41878b656a79712e08a5e35f45061c92"></a>`

change by id， vliad：
`<a id="41878b656a79712e08a5e35f45061c92"></a>`

[2018-02-26 13:19] shubifeng opened #302 "The multi-tags of java class， but found only one tags at html"
当多个tags时 生成html 没有只有一个tags， 而tags=“xxxxxxxxxxxx”则无法进行解析！
![default](https://user-images.githubusercontent.com/6796352/36672346-e00bc664-1b39-11e8-9433-c5209d430271.png)

html：
![default](https://user-images.githubusercontent.com/6796352/36672464-4d41d750-1b3a-11e8-800c-aff6015e0249.png)

[2018-03-04 04:39] johnnywong233 commented on #273
@angsdey2 I wander have you fixed your problem? Now I met the same error as yours, so any help is very appreciated. thanks!

[2018-03-05 11:00] ChrisCGH commented on #264
Has this issue been fixed? I've tried using the docker image swagger2markup/swagger2markup:1.3.2, but I still see query parameters being shown in examples as JSON

[2018-03-05 14:49] cascer1 commented on #264
I'm very sorry, life has been super busy and I haven't had the time to work on this still. It might be better if someone else picked up this issue.

[2018-03-06 08:59] marcelstoer opened #303 "Why not just skip empty tags?"
With `swagger2markup.pathsGroupedBy=TAGS` the evaluation fails if there are no tags due to

https://github.com/Swagger2Markup/swagger2markup/blob/8e22dd817e5d4bef276894c0d5975d3c7254253d/src/main/java/io/github/swagger2markup/internal/document/PathsDocument.java#L121

I would argue that a hard failure is inappropriate here. Why not just log a warning and group by `AS_IS` (the default) instead?

[2018-03-06 13:57] RobWin commented on #303
To signal that the user made a mistake and forgot to provide tags. If he wants to group by tags, he must provide tags.

[2018-03-06 13:59] RobWin commented on #302
You grouped endpoints by tags. See your property `swagger2markup.pathsGroupedBy=TAGS`
You can only assign ONE tag per endpoint, if you want to group by tags.
Otherwise use `swagger2markup.pathsGroupedBy=AS_IS`.

[2018-03-08 07:50] marcelstoer commented on #303
Now that we can process entire folders of Swagger files the case is slightly different I'd argue. I basically want to say "Group by tags if tags are available". Smaller service contracts in that folder may not have (and not need) tags.

[2018-03-09 00:16] muddysteel opened #304 "Combining input folder with output file means last file processed wins"
Swagger2Markup version: 1.3.4

Problem description:  If you configure the plugin to process a folder AND you supply an output file name, then the last file in the folder to be processed is the only one with content.

Just forked/fixed and created pull request

[2018-03-09 16:33] RobWin commented on #303
Would you like to provide a PR? Automatic fallback to AS_IS and output a warning.

[2018-03-09 16:33] RobWin commented on #304
Thx. I hope I can review it next week.

[2018-03-09 19:20] muddysteel commented on #304
The update to Maven plugin fixes this.

[2018-03-09 19:20] #304 closed

[2018-03-09 23:50] marcelstoer commented on #299
I guess you would have to provide (e.g. attach) `swagger2.json`.

[2018-03-26 13:26] MahatmaFatalError commented on #289
Is there any 'real' fix in the pipeline? I also stumbled upon this bug.

[2018-03-27 15:24] MahatmaFatalError opened #305 "NPE on Spring Boots /env POST endpoint"
Swagger2Markup version: 1.3.2

Problem description:
swagger2markup-maven-plugin (1.3.4) in combination with swagger2markup-import-files-ext (1.3.1) can not deal with the /env endpoint description generated by springfox-swagger2 (2.8.0), which is a standard spring boot (1.5.2.RELEASE) endpoint.

Excerpt from swagger.json
`"/env": {
         "post": {
            "tags": [
               "environmen

[2018-03-29 14:09] kidnme commented on #296
I did discover that swagger2markup supports x-example in parameter definitions.  So, this issue should be closed.

[2018-03-30 10:26] shubifeng opened #306 "The swagger2markup is unable parase "@Valid @RequestBody " annation"
method param jsr303 annation @Valid

Swagger2Markup version:
1.3.1

Problem description:

[code]

[2018-04-04 11:26] RobWin commented on #306
Sry, but this issue is not related to Swagger2Markup but Springfox.

[2018-04-04 11:26] #306 closed

[2018-04-04 11:28] RobWin commented on #305
Yes, seems that the env endpoint is not valid. The type is missing.
Must be `"type": "array"` I guess.

[2018-04-04 11:28] #305 closed

[2018-04-04 11:28] #302 closed

[2018-04-09 17:48] kidnme commented on #266
Don't know if there has been any movement on this one, but I did hack a quick fix that adds required parameters only to the example as an extension to the path element.

[2018-04-09 18:18] RobWin commented on #266
Nice. Would you like to create a PR?

[2018-04-13 07:05] RobWin commented on #301
Would you like to create a PR?

[2018-04-13 07:05] RobWin commented on #300
Because the two other projects are not my projects.

[2018-04-13 07:05] #300 closed

[2018-04-16 18:55] MahatmaFatalError commented on #305
So what does this mean? Bug in springfox-swagger2 or what?

[2018-04-17 14:59] kidnme commented on #298
The swagger parser just released version 1.0.35.  If a new release of swagger2markup is built with this version, then this problem will be resolved.  In addition, if the latest changes (specifically fixes for #264 and #266) are included, then this new release gives me a clean pipeline to produce documents from a swagger spec.

[2018-04-20 17:32] kidnme commented on #298
Now that the pull request has been incorporated, what will cause a new official release of swagger2markup?  Eventually, I'd like that as well as a new release of the swagger2markup-maven-plugin that is built with this new release.

[2018-04-23 20:35] bondpp7 opened #309 "Add static doc per tag"
Swagger2Markup version: 1.3.1

Problem description: I would like to "include" static documentation within my swagger-annotated code, such that I don't have to pull apart the generated docs and manually glue them together around my manually generated docs.

Full use-case: I group my endpoints by TAGS (this works quite well, thank you :) ), but I want to include a static doc for each tag.  I could d

[2018-04-26 14:03] kidnme opened #310 "Release version 1.3.3"
I don't know when new versions are released and what criteria is used to release them, but I'd certainly like to see a 1.3.3 and a new swagger2markup maven plugin release as well.

[2018-04-27 06:47] RobWin commented on #310
Hi, the criteria is just my time :(
I try to release a new version as soon as possible.

[2018-04-27 10:40] #309 closed

[2018-04-27 11:44] RobWin commented on #310
v1.3.3 of Swagger2Markup has been released.
I release the maven plugin soon.
But you can already use the new version with the old plugin if required.

[2018-04-27 12:07] RobWin commented on #310
Maven Plugin v1.3.6 has been released.

[2018-04-27 12:07] #310 closed

[2018-04-28 06:59] #267 closed

[2018-04-28 07:00] RobWin opened #312 "Maintenance support"
Dear community,

unfortunately I'm very busy at the moment and can't maintain Swagger2Markup alone anymore.
There are many interesting new topics:

1. Swagger v3 support
2. Merge Swagger2Markup repositories and create a new multi-module repository. It doesn't matter if we use Gradle or Maven to build the project. Any help is welcome.

Is someone interested to help me?

Kind regards,
Robert

[2018-05-01 19:16] kidnme opened #313 "Response examples for inline objects are generated improperly"
Swagger2Markup version: v1.3.3

Problem description: If an inline schema object is supplied in a response and examples are being generated for them, then the resulting response example will be "object".  In addition, if the inline schema does not specify a type (e.g. type: object), then the attempt to generate a response example will NPE.  Previous versions of the swagger-parser used to default an

[2018-05-09 16:32] odupuy opened #315 "Document the missing dependency for pegdown"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version: 1.3.3

Problem description: Missing dependen

[2018-05-14 06:49] LANXIANGMING opened #316 "how to fix the issues of 1. "failed to read extension...."; 2. "failed to read content URI...""
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Hi,

There is a problem that I don't know is at generation of ASCIID

[2018-05-14 07:38] LANXIANGMING commented on #316
write permission on OS or read content from URL http://localhost:8080/v2/api-docs?
I checked there has write and read permission on the folder of OS, and can get the response return of JSON data from the URL via browser Chrome

[2018-05-28 10:31] Jannis87 commented on #305
Same here. Is there a way to fix this?
Swagger2Markup would be very useful for me.

[2018-06-02 19:59] riteshbti opened #317 "Execution failed for task ':compileDebugJavaWithJavac"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:

Getting below issue w

[2018-06-12 16:32] kingsleykumar opened #319 "Requirement to not render the field as Optional (or Required) in the PDF"
Swagger2Markup version: 1.3.3

Problem description:  In the output PDF,  for the response DTO class definitions, the fields are rendered with "optional" keyword.  (for example id optional, please check the image [https://ibb.co/dupV9d](url)). The swagger.json doesn't mention anything on if a field is optional. But, It seems the swagger2markup treats the fields as optional by default. And it produc

[2018-06-21 01:48] power721 opened #320 "Requirement: Generate example value from enum name"
Swagger2Markup version: all

Problem description:
Currently, the auto generated example value for enum is "String".
It's better to generate example value from first enum name.

[2018-06-27 15:27] waldo2188 opened #321 "Error with CLI when generating documentation"
Swagger2Markup version: 1.3.3

Problem description:
I tried to generate an ASCIIDOC with a JSON file made with Swashbuckle for AspNetCore. Swashbuckle provide an API to generate Swagger's json from the code documentation.

The CLI fail with this error
[code]

with this content :
[code]

and this command :
[code]
I have tried with other json made by Swashbuckle and it's work really nice.

I think t

[2018-06-28 09:26] blackhuman opened #322 "There is no way to prevent specified block from being rendered to final adocs through SPI"
Swagger2Markup version: 1.3.3

Problem description:
Through SPI, I can add custom content to anywhere in the final docs, but what if I want to prevent some of content from being outputed to the final docs, How can I do that?

I saw there is a MarkupDocBuilder in the context (in SPI), but the only thing I can do is to use the method of MarkupDocBuilder to append contents to docs (instead of removin

[2018-06-28 10:05] blackhuman commented on #322
I've found there is a SwaggerModelExtension, maybe I can take advantage of that.

[2018-06-28 10:12] blackhuman commented on #322
I want remove response block but take advantage of swagger2markup's withGeneratedExamples feature.

[2018-07-02 16:21] voz opened #323 "Question: Is there a way to replace generated section titles, e.g. "Version information"?"
Hi, thanks for the great library!

Is it possible to replace generated section titles (e.g., "Version information") with custom ones?

Is it possible control in some way section titles capitalization so that "Version information" becomes "Version Information"?

[2018-07-13 19:42] redijedi commented on #268
Has there been any progress on this?

[2018-07-15 08:12] RobWin commented on #268
No

[2018-07-18 16:33] p4535992 opened #325 "Exception: org.objectweb.asm.tree.ClassNode has interface org.objectweb.asm.ClassVisitor as super class"
Strange exception on  a run of a simple project.

Swagger2Markup version:
Release 1.3.3

Problem description:

I follow the documentation on the link http://swagger2markup.github.io/swagger2markup/1.3.3/ for the last release 1.3.3. I create a simple maven project and added the depedency:
[code]

When try to run the simple code below , i get a exception:

[code]
the exception
[code]

[2018-07-19 06:30] RobWin commented on #325
Hi, I think I've seen this exception before. It happens when there is another maven/gradle plugin which uses a different version of [ASM](https://asm.ow2.io/).

[2018-07-19 09:29] p4535992 commented on #325
You are right, only a detail it wasn't a plugin but a other dependency (i will try to found out which one).
I close the ticket because the code standalone has worked.

[2018-07-19 09:29] #325 closed

[2018-07-20 10:30] xp0028 opened #326 "Swagger2Markup 1.3.3 java.lang.NoSuchMethodError:"
Swagger2Markup version:
1.3.3
Problem description:
java.lang.NoSuchMethodError: io.swagger.models.Response.responseSchema(Lio/swagger/models/Model;)Lio/swagger/models/Response;

	at io.swagger.parser.util.SwaggerDeserializer.response(SwaggerDeserializer.java:1108)
	at io.swagger.parser.util.SwaggerDeserializer.responses(SwaggerDeserializer.java:1067)
	at io.swagger.parser.util.SwaggerDeserializer.

[2018-07-20 15:13] iluhaa opened #327 "Support validation for parameters"
Hello!
By far swagger2markup supports validations for definitions.
Do you have plans to support them for parameters as well
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject
?

[2018-07-21 03:33] hiny2010 opened #328 "java.lang.NoSuchMethodError"
Swagger2Markup version: 1.3.1

Problem description:
code:
[code]

exception:
2018-07-21 11:28:47.274  INFO 7192 --- [io-32001-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring FrameworkServlet 'dispatcherServlet'
2018-07-21 11:28:47.275  INFO 7192 --- [io-32001-exec-1] o.s.web.servlet.DispatcherServlet        : FrameworkServlet 'dispatcherServlet': initialization started
2018-

[2018-07-28 11:47] lemartin commented on #320
I created PR #329 to address this.

[2018-08-02 09:03] chatelao commented on #268
Anybody started working on this?

[2018-08-02 09:05] RobWin commented on #268
No, I don't have time. Unfortunately.

[2018-08-06 10:46] RobWin commented on #328
Seems you have another version of `org.apache.commons.lang3` in your classpath.

[2018-08-06 10:46] #328 closed

[2018-08-06 10:47] RobWin commented on #326
Sry. Issue is unclear to me.

[2018-08-06 10:50] RobWin commented on #320
Merged

[2018-08-07 16:44] 1krutarth opened #331 "References to incorrect responses after generating markdown"
After defining a swagger spec, I used [swagger2markup-cli - `v1.3.2`](https://github.com/Swagger2Markup/swagger2markup-cli) to convert it to `.md`. In the responses section, it refers to same anchor. Below's the example that can be used to reproduce (or can be accessed here: [yaml-gist](https://gist.github.com/1krutarth/b770fff3a0c5168ce96a4171e1f6c99a#file-swagger2markup_issue-yaml)).

[code]

to

[2018-08-08 18:42] 1lln3ss commented on #319
I am also interested in a solution to this, if any.   It would be nice not to have optional/required output when not defined in the yaml file.

[2018-08-08 18:52] RobWin commented on #319
PRs ard welcome 😀

[2018-08-09 14:59] 1lln3ss commented on #319
Fair enough.

How would you prefer it to be like?  A configuration (boolean) that enables/disable the output of required/optional flag, named something like "swagger2markup.propertyDisplayRequiredOptional"?  Alternatively it could be a list of 2 values (coma separated) to control if only required, only optional, both or none should be in the output.

As for the code modification, PropertiesTableCo

[2018-08-10 11:32] RobWin commented on #319
But just to understand your issue. What's the problem with rendering properties as optional when they are not required? Either they are required or optional? Otherwise you have to tell the client of your API if properties are by default required or optional, or?

[2018-08-10 12:49] 1lln3ss commented on #319
I would like the Required/Optional to either act as the Read Only flag (only rendered when explicitly specified in the annotation) or turn the rendering off altogether.

The reason behind it is that I beleive it makes sense to have such flag for input (parameters), but is not as usefull info for output (response).  Also, say my data model has 10 object with 10 properties each, it means I must anno

[2018-08-14 22:00] Hackniu opened #332 "swagger2markup"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
I want to generate swa

[2018-08-16 15:02] chatelao opened #333 "OpenAPI 3.0"
Is there a upgrade to OpenAPI 3.0 planned?

[2018-08-16 15:29] #320 closed

[2018-08-17 19:16] Hackniu opened #334 "how to combine multiple .adoc file to a single .adoc without using include"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
I need to combine mult

[2018-08-17 19:41] RobWin commented on #334
Hi, the other adoc files are not generated by Swagger2Markup?

[2018-08-17 19:45] Hackniu commented on #334
there are four adoc files that have been generated by Swagger2Markup, and I want to combine these four files into a single adoc file.

[2018-08-17 20:57] Hackniu commented on #334
great, thx!

[2018-08-17 20:57] #334 closed

[2018-08-18 01:00] #322 closed

[2018-09-13 07:35] Xib1uvXi opened #335 "cli error java.lang.NullPointerException: text must not be blank"
Swagger2Markup version:

1.3.3
swagger2markup-cli-1.3.3.jar

Problem description:
run cmd:

[code]
get Exception in thread "main" java.lang.NullPointerException: text must not be blank

error detail:

[code]
swagger web is running and no error

curl http://localhost:8089/swagger-ui/api-doc.json
get output:

[code]

[2018-09-13 10:37] #335 closed

[2018-09-17 02:31] fuzzyjulz opened #336 "Generating examples for request headers does not include the name of the header"
Swagger2Markup version: 1.3.3

Problem description:
When generating examples for asciidoc, the "Request header" section doesn't include the 'name' from the swagger (it does bring in the header example though).  This is visible in your example docs: https://github.com/Swagger2Markup/swagger2markup/blob/master/src/test/resources/expected/asciidoc/generated_examples/paths.adoc . This shows the "Reque

[2018-09-18 13:16] dlidstrom opened #337 "Download compiled jar file"
I want to use this project from the command line. However, I don't have a Java development environment on my machine. I'm not able to find a prebuilt jar file here. Is it available for download somewhere? Thanks!

[2018-09-18 13:20] RobWin commented on #337
Yes, there is also a docker container available. Please see manual.

[2018-09-18 20:28] gardengeek99 opened #338 "swagger2markup.parameterOrderBy=AS_IS doesn't seem to work"
Problem description:
My swagger.json that I am starting with has parameters ordered as expected.  When I set swagger2markup.parameterOrderBy=AS_IS, the parameter output in my defintions.adoc is sorted alphabetically.  Anyone else get this to work?

[2018-09-18 21:57] gardengeek99 commented on #338
This does work correctly.  What I really wanted to change was swagger2markup.propertyOrderBy.

[2018-09-18 21:57] #338 closed

[2018-09-19 07:04] dlidstrom commented on #337
Thanks Rob!

[2018-09-19 07:04] #337 closed

[2018-09-21 08:57] dlidstrom opened #339 "Feature request: show enum values as examples"
I see that the examples being generated in markdown do not correspond to what I see in the Swagger file.

Swagger2Markup version: swagger2markup-cli-1.3.3.jar

Problem description:

Here's a minimum Swagger file:

[code]

config.properties looks like this:

[code]

I run the conversion as follows:

java -jar $jar convert --config config.properties --swaggerInput input.json --outputFile out

Here's

[2018-09-27 13:08] dcp65 commented on #326
I am getting the same issue with Swagger2Markup 1.3.3.

[2018-09-27 13:35] Erando89 opened #340 "OpenAPI 3 support"
Will there be [OpenAPI 3](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md) support in near feature?

[2018-10-07 14:01] MarosPataky commented on #286
Hi @RobWin. Is this still something that needs to be done? If so, I could try implementing it.

[2018-10-08 07:41] RobWin commented on #286
Yes, I won't have time to implement it.

[2018-10-13 09:11] MarosPataky commented on #286
Hi @RobWin, @Dichotomia,

I have prepared a PR https://github.com/Swagger2Markup/swagger2markup/pull/341 with this functionality, currently supporting the tag in for operation Parameters.

Could you guys check if I am going in correct direction? I guess I'd be able to implement support for these tags also for object models (I am not sure, but this has to be done on different places than parameters

[2018-10-13 17:30] MarosPataky commented on #339
Hi @dlidstrom, is this something you'd still like to have?

@dlidstrom I could have a look, from my quick research it looks like there is no support for enums in "Integer" type. I could try to add that.

[2018-10-13 17:38] MarosPataky commented on #339
@dlidstrom  Do you think something like this would be good?

### OrganizationFeatureToggle
|Name|Description|Schema|
|---|---|---|
|**FeatureToggleKey**  <br>*optional*|**Example** : `2`|enum (2, 3, 4, 5, 6, 7, 11, 16)|

[2018-10-13 17:53] dlidstrom commented on #339
That looks fine @MarosPataky. This would help me just a little bit and I appreciate the effort. Thanks!

[2018-10-14 11:12] MarosPataky commented on #339
@dlidstrom  Feel free to suggest any improvements. I'll open a PR for the changes I proposed in previous comment today.

[2018-10-15 06:38] parrrot commented on #336
Hi there...

I will create a PR in matter of days for this issue...

[2018-10-15 20:53] dagi12 opened #343 "Response type is ignored for client errors status codes in ApiResponse annotation"
Swagger2Markup version:
1.3.3

Problem description:
Schema property is ignored for client errors status codes when generating documentation. For example if i specify following annotation.
[code]
I get following position in swagger.json
[code]

Despite that I got "No content" in schema column in definition section in generated documentation. Everything works fine for success status codes such as 20

[2018-10-15 21:30] dagi12 commented on #30
Any updates on this? Would be nice if swagger2markup would use `host` and `basePath` property  to create URI scheme without need of create any extension.

[2018-10-15 21:49] dagi12 opened #344 "Description property of definition in swagger json/yaml is ignored"
Swagger2Markup version:
1.3.3

Problem description:
Description property of definition in swagger json/yaml is ignored in generated documentation. For example
[code]
It would be nice to have a way to provide overall description for model/definition.

[2018-10-16 07:10] dagi12 commented on #343
I don't know how but during some of generation job it resolve itself.

[2018-10-16 07:10] #343 closed

[2018-10-16 07:10] dagi12 commented on #344
I don't know how but during some of generation job it resolve itself.

[2018-10-16 07:10] #344 closed

[2018-10-18 17:50] Demmi94 commented on #313
Hi @kidnme,
can i look at this issue #314  and try to solve it ?

[2018-10-18 17:51] RobWin commented on #313
Sure :)

[2018-10-18 19:02] Demmi94 commented on #313
ok :) can you also assinged it to me ?

[2018-10-19 08:05] valydia opened #346 "Getting a NullPointerException for freeform properties enabled by 'additionalProperties: {}'"
First and foremost, thanks for the library this is a very cool project!
Swagger2Markup version: 1.3.3

Problem description:
Getting a `NullPointerException` when trying to generate the markdown for a schema that defines a free form using curly bracket as described [here](https://swagger.io/docs/specification/data-models/dictionaries/#free-form) `additionalProperties: {}`

Here is an example, here

[2018-10-19 10:21] aspekt23 commented on #216
Hi there, is it still open ? I can work on this.

[2018-10-20 15:42] aspekt23 commented on #331
Is it still open? I can work on this...  @RobWin

[2018-10-20 16:54] MarosPataky commented on #339
@RobWin Can we close this issue then?

[2018-10-20 16:54] MarosPataky commented on #286
@RobWin Can we close this issue then?

[2018-10-20 17:02] RobWin commented on #339
Yes, but we have to add it to the release notes file.

[2018-10-20 17:02] #339 closed

[2018-10-20 17:10] aspekt23 commented on #291
Is it still open? I can work on this @RobWin

[2018-10-22 09:44] cascer1 commented on #216
@aspekt23 I haven't made any progress on this since the last update.

[2018-10-22 09:45] cascer1 commented on #216
@aspekt23 I haven't made any progress on this since the last update.

[2018-10-22 10:41] RobWin commented on #216
Yes, seems so.
If you want to do more PRs on Swagger2Markup, I can invite you to our Slack channel

[2018-10-22 10:43] RobWin commented on #291
Thx 👍

[2018-10-22 10:46] #291 closed

[2018-10-22 11:44] mswiderski opened #349 "Add support for generating example for request data based on media type"
Body parameters can provide examples as part of the swagger definition. Currently Swagger2Markup will generate single JSON example regardless if the example (x-examples) in definition comes with multiple examples for different media type.

Swagger2Markup version:
1.3.3

Problem description:
It's request for enhancement to cover additional data to be easily produced as part of the generation of the

[2018-10-22 12:20] mswiderski commented on #349
here is a pull request to provide this enhancement https://github.com/Swagger2Markup/swagger2markup/pull/350

[2018-10-24 09:09] darkantoine opened #351 "Way to ignore some definitions in output"
Hi,

I have a scenarios where I have defined a structure that I never use on its own but is included in other structures using allOf.

Dummy example:
[code]

Would there be a way to skip the "Wheel" Definition on its own in the output?

[2018-11-02 15:38] Demmi94 commented on #313
Is this Issue already fixed ?

[2018-11-09 10:44] thomasbuengener commented on #196
The problem ist with nested tables. your example descrition above with the html tables will be transformed to the following if the description ends up beeing inside a table already.

[code]

In nested tables "|" must be replaced by "!" instead of beeing escaped as "\|".

See http://mrhaki.blogspot.com/2017/04/awesome-asciidoctor-nested-tables.html

The follwoing will work inside nested tables as i

[2018-11-09 12:01] thomasbuengener opened #352 "Markup in descriptions not working"
The problem ist with nested tables. your example descrition above with the html tables will be transformed to the following if the description ends up beeing inside a table already.
[code]

In nested tables "|" must be replaced by "!" instead of beeing escaped as "\|".

See http://mrhaki.blogspot.com/2017/04/awesome-asciidoctor-nested-tables.html

The follwoing will work inside nested tables as it

[2018-11-12 22:42] fuzzyjulz commented on #336
Any idea when this would be released?  Keen to try it :-)

[2018-11-13 08:46] parrrot commented on #336
You have to ask owners of the project... maybe @RobWin could tell you more

[2018-11-28 10:47] fonimus opened #354 "Form data parameters issue with schema reference"
Swagger specifications have improved :

### before

[code]
### after

[code]

Swagger2Markup version:
1.3.3 (plugin 1.3.7)
Problem description:

Event param must have type, but has schema instead

[code]

Resolution: FormParameter should handle schema type

[2018-12-17 12:15] Demmi94 commented on #352
@thomasbuengener
hi,
I check this but i'm not sure what is expected cen you add there any result or more information about this issue ? now i just localize where is problem with genereting of builder

[2018-12-17 12:59] thomasbuengener commented on #352
In nested tables "|" must be replaced by "!" instead of beeing escaped as "\|".

Von: Demmi94 <notifications@github.com>
Gesendet: Montag, 17. Dezember 2018 13:16
An: Swagger2Markup/swagger2markup <swagger2markup@noreply.github.com>
Cc: Thomas Büngener <Thomas.Buengener@is2.de>; Mention <mention@noreply.github.com>
Betreff: Re: [Swagger2Markup/swagger2markup] Markup in descriptions not working (#3

[2018-12-20 08:01] rolandhaas commented on #340
As far as I can see this won't be possible without breaking changes.
`io.github.swagger2markup.Swagger2MarkupConverter.Context` holds the `io.swagger.models.Swagger` which is openApi 2.0 only. Since the Context is also passed as argument to the SPI component `io.github.swagger2markup.spi.Extension` this won't work if dependency for `io.swagger.core.v3` is included because the models differ between

[2018-12-20 09:23] Erando89 commented on #340
I've found a better way to convert a OAS3 swagger.yaml to a Documentation, using [Swagger Editor](https://editor.swagger.io/).
[code]

This works perfectly and results in a document like the right-hand side at [Swagger Editor](https://editor.swagger.io/).

[2018-12-20 11:45] rolandhaas commented on #340
Guess I found a better way:
Within the [new openApi Parser](https://github.com/swagger-api/swagger-parser) for openApi 3 there's a Converter which can convert from older versions of openApi to the latest version.

1. Remove existing swagger dependency from swagger2markup project and switch to the new openApi model internally
[code]
2. Pass any incoming source file to the converter to ensure v 3.0.

[2018-12-22 06:34] ykgarfield opened #355 "The generated html has some error when ApiModel value contains slash(/)"
# Error description

When ApiModel value contains slash(/), the generated adoc/md has some error.For example, a controller method:

[code]

The `Order` model:

[code]

When I use asciidoctor-maven-plugin to generate html document, I find that the link can't jump to the header. As following figure:

![swagger-anchor-error.jpg](https://i.loli.net/2018/12/22/5c1dcf6780607.jpg)

So I want to find out

[2019-01-04 09:49] tain198127 opened #357 "version conflict"
Swagger2Markup version:1.3.3

Problem description:
I was used  **swagger2markup**  in my framework organized by  maven.
And our team **need** _**version conflict**_ check before commit with using enforce plugin.We found some version conflict in swagger2markup, could you fix this **imperfect** issue?
This is the hints below:
[code]

[2019-01-07 06:45] FDU-SE-LAB opened #358 "Your project Swagger2Markup/swagger2markup is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-31 10:53] micobarac commented on #326
Non of the above solutions worked for me :(.

[2019-02-08 10:06] jmini commented on #340
I wanted to give your tool a try, but we are using OpenAPI v3, so I guess I will have to dig into the code first.

There is a workaround. Some services offer v3 to v2 transformation (I am using https://www.apimatic.io/ but I guess there are other alternatives)

---

What @rolandhaas is describing here is correct.

If Swagger2Markup is updated to work with the OpenAPI v3 model (present in `io.swagg

[2019-03-18 08:56] ChaselX opened #360 "When generating .html/.pdf, the char '+' before [ \"] in a String is missing"
Swagger2Markup version: 1.2.0

Problem description:
I use the swagger's annotaion `@ApiImplicitParam`, and fill its property `value` with

`"Sign rule: md5(abcd)+ \"efgh\" +md5(ijk)"`

like

[code]

The result of .pdf/.html is shown as "Sign rule: md5(abcd)"efgh" +md5(ijk)"

The char `+` from the left is missed

Even if I replace `\"` to "'", it still doesn't work

[2019-04-04 08:29] jfsanchez-gh opened #361 "Error creating swagger/swagger.json file."
Hi guys, I have an issue with swagger2markup.
I have a IT for generating the swagger docs like this:
[code]

and this one is the SwaggerConfiguration:
[code]

The issue is when I run `gradle clean build` and all the tests are execute together.
But, If I run this test directly like `gradle test --tests com.exemple.Swagger2MarkupIt` it successes.

For sure it is some miss configuration. Do you have

[2019-04-12 04:37] Yuanxiangz opened #362 "In GroupedBy.AS_IS, AS_IS stands for what?"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
hi, i am using swagger

[2019-04-12 06:09] RobWin commented on #362
As specified in your swagger.json or swagger.yaml file.
No grouping will be done with AS_IS

[2019-04-15 02:06] Yuanxiangz commented on #362
thank you!

[2019-04-15 02:06] #362 closed

[2019-04-17 01:45] eranation commented on #332
make sure you add the needed repositories, e.g.

[code]

[2019-04-30 21:59] akseli-a commented on #321
I can confirm this same issue when endpoints take IFormFile Lists/Arrays as parameters.

[2019-05-14 07:13] wedooo commented on #335
怎么解决的？

[2019-05-14 08:33] Xib1uvXi commented on #335
json里加入这个：

[code]

[2019-05-15 07:45] theletterf commented on #340
No updates on this? :(

[2019-05-15 07:47] RobWin commented on #340
Please see #312

[2019-05-23 12:43] LUCKYZHOUSTAR commented on #39
how to resolve this problem？

[2019-05-25 17:17] jboxman opened #364 "Exception with swagger2markup.separatedDefinitionsEnabled set to true"
When I enable `swagger2markup.separatedDefinitionsEnabled`, an exception is raised. When it is disabled, an `adoc` file is produced as expected.

Swagger2Markup version:

`swagger2markup-cli-1.3.1.jar`

Problem description:

[code]

[code]

[code]

[2019-05-28 13:37] Kuratornet opened #365 "Error: Type of parameter 'param_name' must not be blank"
Greeting contributors! I have faced with some strange issue.

Swagger2Markup version: 1.3.3

Problem description:
I tried to transfer json body and file via POST or PUT request:
`@PostMapping("SOME_PATH")
 public ResponceDto createFloor(@Valid @RequestPart("body") RequestDto requestDto,
                                      @RequestPart(name = "file", required = false) MultipartFile file,

[2019-06-13 07:48] huihaoweishui commented on #252
@abhijiths148  what is resource class

[2019-06-22 14:30] mymmoonoa commented on #295
newbie to Java, after 3 hours of trying to run this program on MacOS, still I didn't make it.

Hope @RobWin can write a guide on how to setup and run this program.
And maybe it's better to add https://github.com/Swagger2Markup/swagger2markup-cli in the home ReadME.md

[2019-07-09 13:47] micobarac commented on #300
I added jcenter:

[code]

but I get this error:

[code]

[2019-07-10 10:49] micobarac commented on #300
This worked, after two days of frustration:

[code]

[2019-07-11 07:11] RobWin commented on #300
Very strange. Thanks for checking it.

[2019-07-12 08:42] pinfrederic commented on #326
Same for me. That's not working

[2019-07-19 19:01] FatalCatharsis opened #366 "Rest params reordered after every build"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:
1.3.1

Problem description:
I use this plugi

[2019-08-06 08:40] zhongql opened #367 "No plugin found for prefix 'asciidoctor' in the current project and in the plugin groups"
Swagger2Markup version:  1.3.3

Problem description:
I was use swagger2markup and  swagger2markup-maven-plugin to generated Docs. But could't work, the error was " No plugin found for prefix 'asciidoctor' in the current project and in the plugin groups". How should I solve it?

[2019-09-11 13:27] aaanikin opened #368 "Does work swagger-confluence-cli-all-2.2-RELEASE.jar with Confluence server 6.13.1+ ?"
I'm trying execute
java -jar swagger-confluence-cli-all-2.2-RELEASE.jar -u "http://localhost:8090/rest/api/" -b "....." -g "true" -p "[CLI]" -i "true" -k "..." -s "20190911.yaml" -t "Swagger example" -m "single" -a "....."

but

2019-09-11 15:33:48.300 INFO - [main] n.s.s.c.s.i.XHtmlToConfluenceServiceImpl
: Posting XHTML to Confluence...
Exception in thread "main" org.springframework.web.client.H

[2019-09-11 13:29] #368 closed

[2019-09-26 13:11] dstryzhov opened #369 "New version release?"
Hello,
any change there would be at least snapshot release of what's currently in master? The last version is pretty old and there are some useful fixes in master but we cannot access them due to absence of any kind of snapshot version in Maven Central.

Thanks in advance, and thank you for the tool itself!

[2019-10-20 08:32] MaksimMyshkin commented on #258
Hi. I think separatedDefinitionsEnabled is false by default because in most cases you will generate single file (pdf or html) from markdown/asciidoc sources. In this case you need that references work within one file.

[2019-10-20 15:45] MaksimMyshkin commented on #275
Hi. What purpose of interDocumentCrossReferencesPrefix parameter? I found code that causes the issue (file DefinitionDocumentResolverFromOperation) but I don't understand hot to fix it right. If it something like base path it will not work for file path also (will write something like "basepath/../definitions/Example.md")

[2019-10-20 21:49] austek commented on #312
I might be able to help.

What's the plan? I think, it'll be better to co-ordinate and then carry on

[2019-10-21 06:07] RobWin commented on #312
Hi,

you could help by creating some PR (OpenAPI v3 support?) or reply to issues/questions.
I do have a Slack channel.

[2019-10-21 16:05] austek commented on #312
Hi,
Could you invite me on slack pls

[2019-10-22 11:31] RobWin commented on #312
done

[2019-10-26 05:01] austek commented on #369
There is a SNAPSHOT at https://oss.jfrog.org/artifactory/webapp/#/artifacts/browse/tree/General/oss-snapshot-local/io/github/swagger2markup/swagger2markup/1.3.4-SNAPSHOT

[2019-10-29 00:28] austek commented on #326
@pinfrederic could you provide more information?

[2019-10-29 00:29] austek commented on #367
@zhongql is this still an issue?

[2019-10-29 12:04] austek commented on #332
Closing, https://github.com/Swagger2Markup/swagger2markup/issues/332#issuecomment-483905345 should address the issue

[2019-10-29 12:04] #332 closed

[2019-11-04 10:58] LPhilibert opened #375 "The PDF can't contain an enumeration with too many types describe"
<img width="316" alt="Cap2_issueflou" src="https://user-images.githubusercontent.com/50821629/68116026-1f2f8d80-fefa-11e9-9a39-37b02e3afa3f.PNG">
<img width="315" alt="Cap1_issueflou" src="https://user-images.githubusercontent.com/50821629/68116027-1fc82400-fefa-11e9-8224-918fe4bf479e.PNG">

Swagger2Markup version: 1.3.7

Problem description:
When an enumeration contains too many types, it goes be

[2019-11-05 16:17] iricox opened #376 "java.lang.NullPointerException : at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:210)"
[INFO ] i.g.s.m.b.i.asciidoc.AsciiDocBuilder - Markup document written to: ./docs/asciidoc/generated/all.adoc

java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:210)

why?

[2019-11-15 03:28] StarPxc opened #377 "Cannot find SwaggerParser Why?"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:1.3.3

Problem description:
I need to use swa

[2019-11-16 17:39] austek commented on #377
@StarPxc what do you mean by copying file to the intranet? Do you have a sample project that can reproduce the problem?

[2019-11-16 17:40] austek commented on #376
What is the full stack trace. Do you a sample project reproducing the problem?

[2019-11-16 17:41] #367 closed

[2019-11-16 17:56] austek commented on #173
I'd say, actual issue was fixed and this one should be closed. if examples are still a problem raise another issue please

[2019-11-16 17:56] #173 closed

[2019-12-12 20:17] karthikus opened #379 "NullPointerException if YAML contains external ref"
Swagger2Markup version: swagger2markup-cli-1.3.3.jar

Problem description:

I have the following YAML which has a path referencing an external (working) YAML and the corresponding object is specified with YAML anchors. When I verify the swagger document in the UI, I do see the api definition (retrieved from the external server) but when I run the following command to generate the adoc, I get NullP

[2019-12-16 05:38] ylxbcoding commented on #300
thank you, this helped me!!!

[2019-12-21 05:09] balajiv113 commented on #340
Hi, i would like to help on this. I can submit a PR for OpenAPI 3 support. What's the plan for OpenAPI 3 ?

Are we going ahead with @rolandhaas comment using OpenAPI 3 convertor to convert swagger 2 to OpenAPI 3 ?

[2019-12-23 09:44] austek commented on #340
already started work on branch https://github.com/Swagger2Markup/swagger2markup/tree/feature/open_api_v3_support

[2019-12-24 05:53] balajiv113 commented on #340
@austek
Ya i checked that branch, if am not wrong the plan is to first implement a asciidoc builder based on asciidoctorj and use it to implement the OpenAPI 3 markdown right ?
I have tried used existing markdown-builder to generate complete Overview section for OpenAPI 3. If this is still a option i can extend the implementation and submit the PR for other sections like Paths, Definitions and Sec

[2019-12-24 16:10] austek commented on #340
Open Api v3
[code]
For Swagger v2
[code]

[2019-12-27 16:13] Deep-Heart commented on #300
Above answer is very useful for me, thanks very much.

[2020-01-02 18:19] karthikus commented on #379
Bump !

[2020-01-02 19:49] RobWin commented on #379
Sry I'm too busy at the moment with Resilience4j.
Dis you try to debug it?

[2020-01-15 11:54] austek opened #382 "OpenAPI 3.0 Discriminator Object support"
add support for OpenAPI 3.0 Discriminator Object to asciidoc conversion

[2020-01-15 11:56] austek opened #383 "OpenAPI 3.0 XML Object support"
add support for OpenAPI 3.0 XML Object to asciidoc conversion

[2020-01-15 11:56] austek opened #384 "OpenAPI 3.0 Security Scheme Object support"
add support for OpenAPI 3.0 Security Scheme Object to asciidoc conversion

[2020-01-15 11:57] austek opened #385 "OpenAPI 3.0 OAuth Flow Object support"
add support for OpenAPI 3.0 OAuth Flow Object to asciidoc conversion

[2020-01-15 11:58] austek opened #386 "OpenAPI 3.0 Security Requirement Object support"
add support for OpenAPI 3.0 Security Requirement Object to asciidoc conversion

[2020-01-15 11:58] austek opened #387 "OpenAPI 3.0 Request Body Object support"
add support for OpenAPI 3.0 Request Body Object to asciidoc conversion

[2020-01-15 12:01] austek opened #388 "OpenAPI 3.0 Example Object support"
add support for OpenAPI 3.0 Example Object to asciidoc conversion

[2020-01-15 12:02] austek opened #389 "OpenAPI 3.0 Callback Object support"
add support for OpenAPI 3.0 Callback Object to asciidoc conversion

[2020-01-15 14:25] austek commented on #340
Following issues are required for v3 support
- [ ] #382
- [ ] #383
- [ ] #384
- [ ] #385
- [ ] #386
- [ ] #387
- [ ] #388
- [ ] #389

[2020-01-15 14:29] austek opened #390 "OpenApi 3.0 support to have Internationalization"
Strings used in OpenApi 3.0 support #340  should be internationalized, similar to v2 support,

[2020-01-15 14:36] austek opened #391 "OpenApi 3.0 support to allow ordering"
The current implementation, Swagger v2 support, allows to configure the order of the parameters, operations and definitions. Also, allows to group paths by tags.

Ideally, OpenApi 3.0 support #340  should be allow above customization too.

[2020-01-15 14:39] austek opened #392 "OpenApi 3.0 support to be extensible"
The current implementation has an extension mechanism where users can inject AsciiDoc/Markdown at certain positions.
Ideally, OpenApi 3.0 support #340 should be allow extension too.

[2020-01-15 15:02] austek opened #393 "OpenApi 3.0 support to mimic v2 usage style"
The current implementation, Swagger v2 support, is used
[code]

Ideally, OpenApi 3.0 support #340 should have similar way to consume it as well, for example
[code]
This would allow less documentation and seamless transition for any consumer/user.

[2020-01-15 17:28] balajiv113 commented on #393
@austek I would like to work on this,
one question on this, are we going to change swagger 2 implementation also to the new one (asciidoc api) ?? Are the old one will still be there ??

If we are going to migrate to the new one then we can have a abstract configuration builder for both the versions (Like group, orderBy and even the extension registry) which will be common for both the versions

[2020-01-15 21:06] austek commented on #393
Swagger 2 implementation is still supported. ideally, we use the same config for both versions, as the plan is to support the same group, orderBy and extensions. if not possible to use the same version abstraction will be the way to go.

Until there is a Markdown converter for asciidoc, asciidoc output only will be support.

Maybe create a new builder `OpenApi2MarkupConverter`

[2020-01-15 21:10] austek opened #394 "OpenApi 3.0 to Markdown output"
OpenApi 3.0 #340 conversion should provide Markdown output support. To produce md files an asciidoc convert for markdown is required, similar to `io.github.swagger2markup.adoc.AsciidocConverter`

[2020-01-15 21:16] austek opened #395 "OpenApi 3.0 descriptions to be converted valid asciidoc"
OpenApi 3.0 #340 descriptions are valid [CommonMark syntax](http://spec.commonmark.org/), currently they are as is to target asciidoc file. However, description content should be converted to asciidoc format from md

[2020-01-31 17:47] BenjaminHetzjelli commented on #391
For what it's worth, I don't believe the swagger implementation of the OpenAPI 3.0 spec allows specifying ordering of fields. I'm currently in the process of migrating and have found that to be missing.

[2020-02-03 15:45] austek commented on #390
Addressed by #401

[2020-02-03 15:45] #390 closed

[2020-02-03 15:46] #386 closed

[2020-02-03 15:47] #388 closed

[2020-02-03 15:48] austek commented on #393
Addressed by #397

[2020-02-03 15:48] #393 closed

[2020-02-03 15:55] austek commented on #388
Dependency of #340

[2020-02-03 16:21] balajiv113 commented on #392
@austek
I believe a way already been provided under #393 . For any further component that we create we should make use of it like done in OverviewDocument for OpenAPI 3.

[2020-02-03 17:23] austek commented on #392
In that case just providing test for a sample extension should be sufficient

[2020-02-06 13:40] TehBakker commented on #340
Thanks a lot for your work.

Any idea when there will be a first draft of the swagger2markup-maven-plugin using the openApi version to test ?
I migrated my project to openApi and finding myself stuck because of this.

[2020-03-23 09:11] wl03094819 commented on #300
Thank you!!!

[2020-04-01 08:03] ecoSakuraSou commented on #303
I meet the same problem and solved it with reflection.Maybe Setting the tag to some value is a solution.

[2020-04-02 10:52] tshavkat commented on #376
why????????????

[2020-04-02 10:53] RobWin commented on #376
Just because!!!!!!

[2020-04-14 20:55] bhagyasr commented on #376
CDATA[java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:787)
	at org.openqa.selenium.support.ui.FluentWait.<init>(FluentWait.java:96)
	at org.openqa.selenium.support.ui.WebDriverWait.<init>(WebDriverWait.java:71)
	at org.openqa.selenium.support.ui.WebDriverWait.<init>(WebDriverWait.java:45)
	at com.searchModule.pages.searchPage.<init>(searchPag

[2020-04-15 16:08] austek commented on #376
Still not helpful, steps to reproduce with a sample reproducible project will be very good. Also, above stack trace suggests unit testing!!!!

[2020-04-22 07:04] stromyin opened #406 "I hope converting to .doc"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:
I hope converting to .

[2020-04-22 07:06] RobWin commented on #406
Hope is always good ;)

[2020-04-22 10:33] austek commented on #406
I believe such a feature will be out-of-scope for this project. However, asciidoc can be used to achieve that. please check https://github.com/asciidoctor/asciidoctor/issues/3481

[2020-04-22 10:33] #406 closed

[2020-04-23 08:18] #376 closed

[2020-04-28 09:01] china-fengguan commented on #289
same issue happened here, springfox-swagger2 v2.9.2 and springfox-staticdocs v2.6.1.
appriciate any help.

[2020-05-24 21:49] merravid opened #407 "Paths Index"
Using the cli tool, is it possible to generate a paths index before the individually detailed paths? This would be useful for users of the API to get a quick overview, especially for large and complex APIs.

If this functionality is not alredy available, I can have a go at implementing it.

[2020-06-08 11:04] RobWin commented on #407
It's not yet available.

[2020-06-08 11:55] ppatierno opened #409 "Wrong JSON for response example"
We are using this Maven plugin for generating the Strimzi Kafka bridge documentation for the OpenAPI specification.
As described in the OpenAPI v2 specification [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#response-object), the response object contains an "examples" field. The corresponding "Example Object", described [here](https://github.com/OAI/OpenAPI-Specifi

[2020-06-08 13:47] #409 closed

[2020-06-09 13:44] RobWin commented on #407
What do you mean by path index? A ToC which shows the paths?

[2020-06-09 13:45] RobWin commented on #407
You can group paths by tags and then use `swagger2markup.pathsGroupedBy = TAGS`

[2020-06-09 14:14] merravid commented on #407
Yes, a ToC of all the paths. Does .pathsGroupedBy achieve this?

[2020-06-09 14:15] RobWin commented on #407
Do you convert to AsciiDoc? Then there should be a ToC like this:
https://github.com/Swagger2Markup/swagger2markup/blob/master/swagger2markup-documentation/src/docs/asciidoc/images/Swagger2Markup.PNG

[2020-06-09 15:06] merravid commented on #407
Yes I convert to AsciiDoc, then open the AsciiDoc in AsciiDocFX and convert to HTML.

I don't get the left TOC panel. I only get the main content. What am I missing?

[2020-06-09 15:22] merravid commented on #407
[This issue seems related](https://github.com/Swagger2Markup/swagger2markup-cli/issues/24)

[2020-06-09 20:14] tntclaus commented on #407
@merravid to get table of contents u need to add `:toc:` argument to the document header. Then asciidoctor (or other software that supports `:toc:` argument) will generate it for you.

See https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#table-of-contents-toc

[2020-06-09 20:25] tntclaus commented on #312
@RobWin is this still an issue? Probably I can do that. Do you have any vision which repositories (if not all of them) should be merged in which order?

[2020-06-09 21:39] merravid commented on #407
@tntclaus That worked like a charm! Thanks!

[2020-06-09 21:39] #407 closed

[2020-06-10 11:03] RobWin commented on #312
In the master branch we already merged a lot of modules. But we still need help to maintain Swagger2Markup,

[2020-06-10 11:38] tntclaus commented on #312
@RobWin  yes, add me please. I can't promise I will do a lot, but I will do what I can.

[2020-06-11 14:48] merravid commented on #319
Can we set a default that wouldn't require annotation in the output? If the default is set to "required", only optional fields are annotated. If the default is set to "optional", only required fields are annotated. If the default is unset, all annotations are visible.

[2020-06-16 11:17] RobWin commented on #366
You can set the property `swagger2markup.parameterOrderBy=NATURAL`

[2020-06-16 11:17] #366 closed

[2020-06-16 11:18] #377 closed

[2020-06-16 11:20] RobWin commented on #379
I guess it's a problem of the SwaggerParser

[2020-06-16 11:20] RobWin commented on #375
What is your suggestion?

[2020-06-16 11:21] #375 closed

[2020-06-16 11:22] RobWin commented on #365
Could you show us the generated Swagger JSON/YAML?

[2020-06-16 11:23] RobWin commented on #360
That must be a problem of Springfox and not Swagger2Markup.
Did you have a  look at the generated Swagger JSON/YAML?

[2020-06-16 11:27] RobWin commented on #355
Would you like to raise a PR?

[2020-08-05 13:27] ewoks commented on #312
Any progress or status update you could share @tntclaus ?

[2020-09-09 11:46] JackyDFu commented on #300
Helped a lot, thank you very much!

[2020-09-17 16:14] qrqhuang commented on #365
I have debug the swagger2markup source code, and basically clear what happend.

- error msg

[code]

- The controller definition.

[code]

- The api docs
[code]

The `type`  of  parameters does not exists.

I think swagger it not deal with `Map` well, So how can we compatible with this situation ?

[2020-10-17 12:24] ppatierno opened #413 "No new release since April 2018 ... is the project abandoned?"
Hi all,
what's the plan for this project?
I fixed a bug (https://github.com/Swagger2Markup/swagger2markup/pull/410) long time ago (in June) but no new release since April 2018. I see the work around OpenAPI 3.0 support which is even labeled as "help-wanted" so I don't know if it's going to happen soon. What about a new release before it? Or we should just consider this project as abandoned and tak

[2020-10-19 05:45] RobWin commented on #413
Hi,
at lot oft work was invested into OpenAPI 3.0 support, but it wasn't completed yet.
Help is still neded to complete Swagger2Markup 2.0.

[2020-10-19 05:48] ppatierno commented on #413
Yeah, sure about that but I was reasoning about a new 1.3.4 or 1.4.0 version without the OpenAPI 3.0 support.
Without an ETA for the 2.0, it's not a good user experience blocking any other release with bug fixes imho.

[2020-10-19 05:56] RobWin commented on #413
Yes, but it was the decision by the maintainer and contributor .
We didn't have bug fixes for a long time. Therefore we decided to use the master branch to develop 2.0.
Looking back from now it was a bad decision. I hoped that 2.0 would be completed more quickly, but the it seems the contributor of Open API 3.0 support also don't have much time anymore.

[2020-10-19 06:13] ppatierno commented on #413
If I was maintainer (and contributor), I would create a 1.3.x branch (or 1.4.x) from the commit just before the first OpenAPI 3.0 contribution and cherry-pick all the subsequent bug fixes not related to OpenAPI 3.0 on it.
In this way, you could continue to use master for 2.0 but still have the possibility to release a new 1.3.x or 1.4.x with bug fixes.

[2020-10-22 07:57] ppatierno commented on #413
@RobWin do you think that my idea is feasible to apply compatibly with your time?

[2020-10-22 08:45] RobWin commented on #413
Sure, but I just don't have time to do it.

[2020-10-22 08:51] ppatierno commented on #413
It's a pity because this cool project has reached a kind of dead state :-( ... and using the master for OpenAPI 3.0 was a mistake because the people who had the commitment for it, now are not working on it for a long time and maybe they won't work anymore.

[2020-10-22 09:03] RobWin commented on #413
Yes I agreee, but if the community is still interested in Swagger2Markup, they can join our Slack Channel, I give them permissions and they can just create this bugfix branch by themselves.
This is also how we added OpenAPI v3.0 support.

[2020-10-25 08:23] zhouyun885 commented on #300
How did it work out?
![Uploading image.png…]()

[2020-11-04 08:36] yhsmy opened #414 "能否折叠表格?"
能否折叠表格?

比如我的入参是一个对象A, A中有个属性是对象B.
通常情况下, 会写两个表格, 并在A中通过锚点跳转到B.

能否做到点击表格中A的属性B来弹出B的表格?

[2020-11-04 08:46] RobWin commented on #414
Translation:
Can I collapse the table?

For example, my input parameter is an object A, and an attribute in A is object B.
Normally, two tables will be written, and in A will jump to B through the anchor point.

Is it possible to click the attribute B of A in the form to pop up the form of B?

[2020-12-02 10:54] DanielFran commented on #300
@zhouyun885 Those 2 dependencies no longer exists also in spring repository, so now the use of this plugin with the current version is not working.

cc @RobWin

[2020-12-30 06:30] balajiv113 commented on #387
@austek , @RobWin  - I will work on this part.
For this section, there is a major change in openAPI when compared with swagger. In OpenAPI, there is a support for body with different schema for different content type.

I will try to create a separated body section with table to capture schema and content-type.

**Example:**

**PUT /pets Update an existing pet**
_Body (Optional)_
Description
Type |

[2021-03-01 07:25] vishalbinodruplal opened #416 "StackOverflow when examples have cyclic references #173"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version: 1.3.7

Problem description: While using the

[2021-03-01 07:33] vishalbinodruplal commented on #173
Hi @RobWin,

Thanks in Advance for all you help and support.

I'm facing the same issue which is mentioned in this issue. So could you please help us in knowing that in which version of Swagger2markup plugin this issue is fixed and resolved, as I cannot se the version 1.0.2-snapshot present on the public maven repository.

Thank and Regards,
Vishal Kumar Yadav

[2021-03-01 09:25] austek commented on #173
Current snapshot version is `2.0.0-SNAPSHOT` available on https://oss.jfrog.org/artifactory/oss-snapshot-local/

https://oss.jfrog.org/artifactory/oss-snapshot-local/io/github/swagger2markup/

openapi v3 is supported as well by openapi2markup

[2021-03-02 11:55] vishalbinodruplal commented on #173
Hi @austek ,

I have tried you version of swagger2markup but still I'm facing the stackoverflow error for cyclic dependencies in swagger yaml file.

It seems like this issue is not fixed in this version.

Thanks and Regards,
Vishal Kumar Yadav

[2021-03-05 10:47] anonymouspandabear opened #417 "swagger2markup.extensions.dynamicDefinitions.contentPath not working in swagger2markup 2.0.0 snapshot"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version: 2.0.0-SNAPSHOT

Problem description:

I just

[2021-03-17 02:34] xieus commented on #300
Hit the same issue. Adding the Jcenter repo as suggested in https://github.com/Swagger2Markup/swagger2markup-maven-plugin/issues/37 can compile while Jcenter is not update to date.

Any suggestion? @RobWin

[2021-05-19 11:02] rainbow702 commented on #354
this problem still exist

[2021-05-26 13:09] IAmWebSA opened #418 "null values are cleaned out in adoc"
Hello,

is there a way to keep the null values in the examples and do not remove them during conversation?

I have a yaml file which contains examples like:

[code]

After running the convert the line with "value" is not present in the generated adoc file.
Is there a way to keep it as null without marking it as "null" string?

Adoc:
`[ {
  "value2" : 1,
}]`

[2021-06-01 20:27] Scuilion opened #419 "JCenter is Gone"
JCenter is gone: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Migrate dependency.

[2021-09-06 08:06] andye2004 commented on #413
@RobWin could you please explain what open issues / features needs to addressed in order to finalise OpenAPI v3 support and enable the release to go ahead?

Thanks, Andy.

[2021-09-08 08:19] andye2004 commented on #387
@balajiv113 any news on this?

[2021-09-09 05:44] PingYufeng opened #420 "Swagger v3 cannot use swagger2markup(1.3.3)"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:
1.3.3

Problem description:
when I used Swag

[2021-09-10 15:52] IvMikheev commented on #300
@zhouyun885 @xieus I used repositories and pluginRepositories blocks from here and it helped https://github.com/Swagger2Markup/spring-swagger2markup-demo/blob/master/pom.xml#L33-L63

[2021-09-16 09:55] caitou2019 opened #421 "About @Tags"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:
swagger2markup-cli-1.3.3.jar

Problem descri

[2021-09-17 03:19] caitou2019 commented on #421
![image](https://user-images.githubusercontent.com/47804016/133718638-f270da23-bfb2-48a6-91a0-c1497bf92ed9.png)

I have found the problem. The golang project needs to add the "@tag.Name" tag on the program entry function (main) to declare the "@tags ***" value used by the project API in advance

[2021-09-17 03:19] #421 closed

[2021-09-22 06:47] AnkitOpl opened #422 "Can we implement this swagger2markup with swagger 3 ?"
Thanks for raising a Swagger2Markup issue. Please provide a brief description of your problem along with the Swagger2Markup version you are using. If possible, please also consider putting together a complete Swagger specification that reproduces the issue. It's better if the Swagger specification is small and isolate the issue.

Swagger2Markup version:

Problem description:

[2021-11-10 11:01] Felk opened #423 "Remove dependency on pegdown"
Pegdown has been deprecated for a while, and it appeary to not work anymore with Java 17. This suggests that the dependency should be replaced with something else to be able to move forwards. The official recommendation is [flexmark-java](https://github.com/vsch/flexmark-java).

Replacing it could be as simple as this:
[code]

But there are some more problems that need to be adressed:
- I couldn't

[2022-01-20 13:23] SomeDeveloper13 commented on #391
I would like to ... third this request.
It's extremely useful. Especially when you have DTO's & that have parent classes, or it only makes sense to enter data in one specific order for parameters.

[2022-01-27 19:20] snowe2010 commented on #312
It's been several years since updates to any of these threads. Is there any progress on this or is this project dead in the water?

[2022-02-01 12:10] RobWin commented on #312
Hi, @ppatierno was so kind to take over the project.

[2022-02-01 13:20] ppatierno commented on #312
@ShubhamRwt is taking a look at moving to use GitHub actions and Sonatype for next release.

[2022-02-01 19:24] snowe2010 commented on #312
Thanks for the update. Is there any progress on the v3 support or is that a reasonably long way off? Need to judge whether we should begin using this project yet or delay.

[2022-02-03 16:02] alexaasha commented on #365
I faced with the same issue. I used springfox of 2.9.2 version alongside the swagger2markup of 1.3.3 version. As @qrqhuang I noticed that springfox left type field blank. That's why I decided to change version of springfox and it worked for me (I degrade version to 2.7.0).

[2022-02-17 09:15] RobWin commented on #413
@andye2004 Have a look at all the stories which are tagged with "Help wanted"

[2022-02-27 17:45] chenrui333 opened #433 "swagger2markup-cli 1.3.4 jar is missing in maven central"
👋  just a reminder that Swagger2Markup 1.3.4 jar does not exist in maven central. Thanks!

[2022-02-27 18:12] ShubhamRwt commented on #433
Hello @chenrui333, Are you talking about this --> https://search.maven.org/search?q=g:io.github.swagger2markup

[2022-02-27 18:17] ShubhamRwt commented on #433
I can see the the new 1.3.4 under maven repository also -->https://mvnrepository.com/artifact/io.github.swagger2markup/swagger2markup , and I am also able to download jar from there

[2022-02-27 18:21] chenrui333 commented on #433
I was referring to this one, https://repo1.maven.org/maven2/io/github/swagger2markup/swagger2markup-cli/

[2022-02-27 18:22] chenrui333 commented on #433
update my issue title to avoid confusion.

[2022-02-27 18:24] ShubhamRwt commented on #433
Actually I haven't made a new release for the swagger2markup cli yet, only the new release for swagger project is out

[2022-02-27 18:27] ShubhamRwt commented on #433
So its not exactly missing, the bits related to the swagger2markup projects are out, on the other hand swagger2markup cli is a different project

[2022-02-27 18:27] ShubhamRwt commented on #433
@chenrui333 I hope it answers your question

[2022-02-27 21:04] chenrui333 commented on #433
I see, that makes sense. 😅  Thanks for clarifying so responsively!

[2022-02-27 21:04] #433 closed

[2022-03-03 18:12] kirkilj commented on #420
+1

[2022-03-28 05:59] micobarac opened #437 "Latest JAR library on https://mvnrepository.com/ doesn't include OpenAPI classes"
Swagger2Markup version:

[code]

Problem description:

`OpenAPI2MarkupConverter.java` and other OpenAPI classes are missing, which are present in master branch here in the repository.

[2022-03-28 06:13] micobarac commented on #437
Using `https://jitpack.io` to import latest `swagger2markup` code into the project doesn't work either:

[code]

[code]

[code]

[2022-03-29 11:59] RobWin commented on #437
The release 1.3.x does not support OpenAPI, only Swagger 1 & 2.
In order to use the master snapshot version you have to use:

[code]

[2022-03-29 12:55] micobarac commented on #437
![Screenshot 2022-03-29 at 14 55 44](https://user-images.githubusercontent.com/16001837/160616005-d26eb29f-472a-47f2-83d1-a9f481433a42.png)

[2022-03-29 13:02] micobarac commented on #437
Bwt, I am using swagger2markup Maven plugin, which is way outdated :(.

[2022-04-21 17:42] Kabhal commented on #423
Small workaround, in waiting for this to be merged, for those that want to use swagger2markup with Java 17 and do not use MARDOWN at all.

Set `swagger2markup.markupLanguage` AND `swagger2markup.swaggerMarkupLanguage` to `ASCIIDOC`. This will assume Swagger descriptions are written in Ascidoc and won't call the buggy markdown -> asciidoc converter.

[2022-04-26 06:34] RobWin commented on #423
Hi, would you like to create a PR

[2022-04-26 07:23] Felk commented on #423
Sure I just did, but I am not too invested in doing any more work beyond what I proposed, so I hope it is useful to anyone

[2022-04-29 08:53] qurenneng commented on #420
+1

[2022-05-07 10:03] micobarac opened #440 "Grouping by TAG for OpenAPI v3.0 is ignored"
I have created a fork of `swagger2markup-maven-plugin` and modified it to execute OpenAPI converter, but, grouping by TAG never happens...

This is my configuration:

[code]

[code]

Tags are only appended to `overview.adoc` like this:

[code]
It even breaks my layout by not adding page break for next document (example.adoc):

![image](https://user-images.githubusercontent.com/16001837/167249413-e